@charset "utf-8";

.about {}
.about .con-sec {padding-bottom:45px;}
.about .con-sec .con-area {}
.about .con-sec .sub-tit {padding:21px 0 9px; font-size:17px; font-weight:500; line-height:20px; color:#343434}
.about .con-sec .con-txt {position:relative; clear:both; padding:10px 0 5px; font-size:12px; line-height:15px; word-break:keep-all; color:#535353}
.about .con-sec .con-txt.type01 {float:left; box-sizing:border-box; width:46%; padding-right:12px}
.about .con-sec .fimg {position:relative; box-sizing:border-box; display:inline-block; margin-top:17px}
.about .con-sec .fimg img {width:100%}
.about .con-sec .full {width:100%}
.about .con-sec .img01 {float:right; width:54%; margin-top:8px}
.about .con-sec .img02 {float:left; width:46%; padding-right:2.5%}
.about .con-sec .img03 {float:right; width:53%;}