@charset "utf-8";

body {color: #434343;}

/* header */
.header .header-area {background: #292929;}
.header .gnb .menu li.on a, .header .gnb .menu li a:hover {color: #fff600;}

/* footer */
.footer {padding: 25px 0 22px; background: #292929;}
.footer .f-txt-box p.p-0 {font-size: 10px; line-height: 14px; margin-top: 10px; margin-bottom: 6px;}

/*
  Main
 */ 
/* contents */

/* 메인 비주얼 */
.Main .visual-sec .slide-1:before {background: #eee url(../../img/main/banner_01.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-2:before {background: #eee url(../../img/main/banner_02.jpg)  no-repeat center; background-size: cover;}
.Main .visual-sec .visual-txt {padding-top: 25px;}
.Main .visual-sec .visual-txt h2 {margin: 0px auto 2px; font-size: 31px; line-height: 36px;}
.Main .visual-sec .visual-txt h2 span {display: block;}
.Main .visual-sec .visual-txt .p-2 {font-weight: 400; background: #000;}
.Main .visual-sec .visual-txt .p-3 {margin-top: 7px; font-size: 14px;}

/* 해수욕장 소개 */
.Main .about-sec .con-area .con-txt {padding: 15px 0 0px;}
.Main .about-sec .con-area .fimg {margin-top: 0;}
.Main .about-sec .con-area .fimg[class*='img'] {width: 48.5%;}
.Main .about-sec .con-area .img02 {padding-right: 0;}
.Main .about-sec .con-area .fimg.full {width: 100%; margin-top: 16px;}
.Main .about-sec .con-area .fimg img {position: relative; box-sizing: border-box; border: 1px solid #ccc; border-radius: 2px;}

/* 오시는 길 */
.Main .waycome-sec {background: #f6f6f6;}
.Main .waycome-sec p {word-break: keep-all;}

/*
  Event
 */
/* 비주얼영역 */
.Event .subVisual.type-2 {background: url(../../img/m/event/bg_sub_top.jpg) no-repeat center center; background-size: cover;}

/*
  Board
 */
/* 비주얼영역 */
.Board .subVisual.type-2 {padding: 70px 0 80px; background: url(../../img/m/board/bg_sub_top.jpg) no-repeat center center; background-size: cover;}

.Board .con-sec {padding: 25px 15px 22px;}
/* search */
.Board .board-area .row-search .btn-write {margin-left: 5px;  padding: 0 27px; border-radius: 30px;}



@media (max-device-width: 320px) {
    
    /* search */
    .Board .board-area .row-search .btn-write {padding: 0 14px; margin-left: 3px;}
}