@charset "utf-8";

body {color: #434343;}

/* font */
.c-blue2 {color: #1d5e87;}

/* header */
.header .header-area {background: #292929;}
.header .gnb .menu li.on a, .header .gnb .menu li a:hover {color: #fff600;}

/* footer */
.footer {padding: 30px 0 31px; background: #292929;}
.footer .f-txt-box p.p-0 {font-size: 18px; line-height: 26px; margin-top: 18px; margin-bottom: 13px;}

/* 
  Main
 */
/* contents */

/* 메인 비주얼 */
.Main .visual-sec .slide-1:before {background: #eee url(../../img/main/banner_01.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-2:before {background: #eee url(../../img/main/banner_02.jpg)  no-repeat center; background-size: cover;}
.Main .visual-sec .visual-txt {padding-top: 25px;}
.Main .visual-sec .visual-txt .p-2 {font-weight: 400; background: #000;}
/* weather */
.Main .visual-sec .weather {top: 77px;}

/* 해수욕장 소개 */
.Main .about-sec {padding: 45px 0 75px; background: #fff;}
.Main .about-sec .con-area {margin-top: 35px;}
.Main .about-sec .con-area .con-txt {font-size: 25px; line-height: 1.5; letter-spacing: -1.3px; word-break: keep-all;}
.Main .about-sec .con-area .fimg img {border: 1px solid #bbb;}
.Main .about-sec .con-area .fimg[class*='img'] {margin-bottom: 20px;}
.Main .about-sec .con-area .img01 {display: inline-block; float: none; margin-top: 0;}
.Main .about-sec .con-area .img02 {float: right; margin-top: 0;}
.Main .about-sec .con-area .fimg.full {margin-top: 75px; margin-bottom: 0;}
.ie8 .Main .about-sec {filter: none;}

/* 주변관광지 */
.Main .tour-sec {padding: 75px 0 55px;}

/* 오시는 길 */
.Main .waycome-sec {padding: 61px 0 86px; background: #f6f6f6;}
.Main .waycome-sec p {word-break: keep-all;}
.Main .waycome-sec .con-area .btn-box {position: relative; bottom: auto;}

/*
  Event
 */
/* 비주얼영역 */
.Event .subVisual.type-2 {background: url(../../img/event/bg_sub_top.jpg) no-repeat center center; background-size: cover;}

/*
  Board
 */
/* 비주얼영역 */
.Board .subVisual.type-2 {background: url(../../img/board/bg_sub_top.jpg) no-repeat center center; background-size: cover;}

/* 게시판 list */
.Board .board-area {min-height: 530px;}
/* 게시판 read */
.Board .board-area .row-btn [class*=btn-] {border-radius: 30px;}
.Board .board-area .row-search .btn-search {border-radius: 6px;}
