<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>송지호해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/common.css">
	<!--<link rel="stylesheet" href="../../static/css/reset.css">
	<link rel="stylesheet" href="../../static/css/common.css">-->
	
	<!--css-->
	<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/event/init.css">
	<!--<link rel="stylesheet" href="../../static/css/event/init.css">-->
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.songjihobeach.co.kr/js/common.js"></script>
	<!--<script src="../../static/js/common.js"></script>-->
	<!--<script src="../static/js/init.js"></script>-->
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

    <div class="wrapper">

        <!-- header -->
        <header id="header" class="header">
            <div class="header-area">
                <h1 class="logo"><a href="../index.html"><img src="../../img/common/logo.png" alt="송지호해수욕장"></a></h1>
                
				<nav class="gnb">
                    <ul class="menu">
                        <li class="nth-1"><a href="../about/index.html">해수욕장 소개</a></li>
                        <li class="nth-2"><a href="../tourist/index.html">주변관광지</a></li>
                        <li class="nth-3"><a href="../goseong/index.html">고성8경</a></li>
                        <li class="nth-4 on"><a href="../event/index.html">이벤트</a></li>
                        <li class="nth-5"><a href="../waycome/index.html">오시는길</a></li>
                        <!--<li class="nth-6"><a href="../board/index.html">공지사항</a></li>-->
                        <li class="nth-7"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <!-- content -->
        <div class="contents event">
            <div class="wrap clr">
                <!-- content visual -->
                <div class="top-area">
                    <div class="top-box">
                        <h2 class="tit">이벤트</h2>
                        <p class="sub-logo-txt">SONGJIHO BEACH</p>
                    </div>
                </div>
                
                <!-- location -->
                <div class="location-box">
                    <ul class="menu clr">
                        <li><a href="#none">Home</a></li>
                        <li><a href="#none">이벤트</a></li>
                    </ul>
                </div>

                <!-- content main -->
                <div class="con-sec">
                    <div class="con-area">
                        <h3 class="tit"><span class="tit-txt">이벤트</span><span class="tit-sub-txt">SONGJIHO BEACH</span></h3>
                        
                        <!-- 연날리기 / 첫번째 이벤트엔 fir 멀티 클래스 -->
                        <div class="evt-area fir">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.songjihobeach.co.kr/event/ocKite.jpg" alt="오션투유 연날리기 축제"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">2018 고성 오션투유 연날리기 축제</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>매주 일요일</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>오션투유리조트</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>무료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>12:00 ~ 16:00</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>
                                                연 세트 프론트에서 제공 / <br>
                                                소망연날리기체험장: 삼포해수욕장
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    매주 일요일 강원도 고성 아름다운 송지호해수욕장의 맑고 청명한 하늘에 알록달록 연을 수놓는 장관이 펼쳐집니다.<br>
                                    사랑하는 가족들과 함께 오션투유에서 소원과 희망을 담은 연을 하늘 높이 날리는 2018 가족여행과 함께하는 고성 오션투유 송지호해수욕장 연날리기 축제를 함께 즐겨보세요.<br>
                                    ※ 본 행사는 우천시 취소될 수도 있습니다. 
                                </p>
                            </div>
                        </div>
                        
                        <!-- 미드나잇 -->
                        <div class="evt-area midnight">
                            <div class="evt-box clr">
                                <div class="evt-img">
                                    <img src="http://img.songjihobeach.co.kr/event/midnight.jpg" alt="미드나잇 피크닉 페스티벌">
                                    <iframe class="movie" src="https://www.youtube.com/embed/n0foR1sU99Y?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
                                </div>
                                
                                <div class="txt-box">
                                    <p class="evt-tit">2018 미드나잇 피크닉 페스티벌</p>
                                    <div class="detail-box clr">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>2018.07.13(금) ~ 15(일) 3일간</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>미드나잇 피크닉 페스티벌</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>유료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>10:00 ~ 23:00</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>
                                                송지호해변 비치클럽 (서핑 페스티벌)<br>
                                                송지호해변 비치콘서트 (음악 페스티벌)
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    송지호해변에서 펼쳐지는 국내 정상급 클럽 DJ들과 함께하는 색다르고 화끈한 비치클럽 미드나잇 피크닉 페스티벌로 초대합니다.<br>
                                    요즘 여름은 서핑이 대세~ 송지호해변에서 배우고 즐기는 서핑 페스티벌! 한 여름밤, 화끈한 밤의 국내 최정상 뮤지션들의 화끈한무대!<br>
                                    서핑과 음악, 비치라이프를 통한 한여름의 일상탈출!<br>
                                    1년에 한번오는 절호의찬스를 놓치지 마세요!   
                                </p>
                            </div>
                        </div>
                        
                        <!-- 라벤더 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.songjihobeach.co.kr/event/lavender.jpg" alt="라벤더 축제"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">2018 고성 라벤더 축제</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>2018.06.01(금) ~ 2018.06.21(목)</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>하늬라벤더팜, 꽃내마루 라벤더 연구회</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>무료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>09:00 ~ 19:00</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>강원도 고성군 간성읍 꽃대마을길 175</dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    매년 6월이면 고성의 마을과 농장을 보랏빛으로 물들이는 라벤더가 만개합니다.<br>
                                    축제에서 라벤더체험, 어린이 그림그리기대회, 라벤더 수확체험, 향기 음악회, 관광객들이 농장이나 마을에서 촬영한 사진응모 콘테스트등 다양한 프로그램과 함께 즐겨보세요.<br>
                                    ※ 본 행사는 우천시 취소될 수도 있습니다. 
                                </p>
                            </div>
                        </div>
                        
                        <!-- 물놀이 및 캠프파이어 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.songjihobeach.co.kr/event/fireworks.jpg" alt="불꽃놀이 및 캠프파이어"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">2018 불꽃놀이 및 캠프파이어</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>2017년 12월31일 하루</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>오션투유리조트</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>무료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>일몰 이후 캠프파이어 / 23:30 </dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>강원도 고성 송지호 해수욕장</dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    12월 31일 강원도 고성 아름답고 탁트인 해안선, 반짝거리는 모래사장으로 유명한 송지호해변과 함께 2017년의 끝을 기념하는 환상적인 불꽃축제가 개최됩니다. 고성 주민들의 특별한 관심과 고성을 찾는 많은 관광객들이 어우러지는 큰 행사로 다양하고 풍성한 볼꺼리를 준비하고 있으니, 2017년 낭만적인 마지막 밤을 장식하세요.<br>
                                    ※ 본 행사는 우천시 취소될 수도 있습니다. 
                                </p>
                            </div>
                        </div>
                        
			            <!-- 180917 속초 관련 이벤트 4개 추가 -->
                        <!-- 설악문화제 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.sampobeach.co.kr/event/seorak.jpg" alt="설악문화제"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">2018 제53회 설악문화제</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>2018.09.29 ~ 30 / 2018.10.12 ~ 14</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>속초축제위원회</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>무료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>상시</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>
                                                2018. 9. 29 ~ 30 : 산악페스티벌<br>
                                                2018. 10. 12 ~ 14 : 거리페스티벌
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
						            속초시내 로데오 거리에서 세계 각국 문화를 볼 수 있는 거리 퍼레이드와 함께 만들어가는 축제를 위한 각종 기관 단체의 체험 및 부대 행사를 비롯하여, 국립공원 설악산의 가을을 만끽 할 수 있는 공룡능선 하늘 길 걷기 대회와 달마봉 산행, 가을밤의 정취를 한껏 느낄 수 있는 설악산 음악축제, 전국의 강태공들이 속초해변에 모여 월척의 짜릿한 손맛을 느끼는 전국 바다낚시 대회 등 다채로운 행사를 준비하였다.
                                </p>
                            </div>
                        </div>
                        
                        <!-- 바다별빛 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.sampobeach.co.kr/event/seastarLove.jpg" alt="바다별빛 대포야 사랑해"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">2018 바다별빛 대포야 사랑해</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
									        <dd>2018.05.19 ~ 10.20</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>속초축제위원회</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>무료</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>19시 30분</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>
                                                2018. 9. 29 ~ 30 : 산악페스티벌<br>
                                                2018. 10. 12 ~ 14 : 거리페스티벌
                                            </dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    종합관광어항인 대포항에서 아름다운 바다별빛 거리를 배경으로 열리는 ‘대포야 사랑해’ 행사는 2015년을 시작으로 올해 4회째를 맞고 있는 속초시 대표 문화관광 행사로써 자리매김 하였으며 지난해에는 5,000여명의 관광객이 행사장을 찾는 등 큰 호응을 얻고 있다.<br>
                                    토요일 저녁 7시 30분부터 2시간 동안 진행되는 ‘대포야 사랑해’ 행사는 전통국악, 7080가요, 초청가수 공연과 더불어 가족과 연인들이 함께 즐길 수 있는 마술, 풍선아트 등 다채로운 공연이 마련되어 있으며 프로포즈 이벤트 등 체험형 프로그램도 함께 진행된다.
                                </p>
                            </div>
                        </div>
                        
                        <!-- 음악불꽃크루즈 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.sampobeach.co.kr/event/musicCruise.jpg" alt="음악불꽃크루즈"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">속초 음악불꽃크루즈 2018</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
                                            <dd>2018.05.03 ~ 12.30</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>크루즈스토리</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>현지 확인</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>현지 확인</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>매달 다른 테마와 음악으로 음악불꽃축제 진행</dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    별빛속 바다를 달리는 낭만 속초여행!<br>
                                    푸르고 시원한 동해바다를 배경으로 낭만과 감동이 있는 음악불꽃쇼를 사랑하는 사람과 속초 밤바다에서 즐겨보자.<br>
                                    국내 최대 선상불꽃축제 심장을 울리는 음악, 손에 잡힐듯한 불꽃, 멀리서 보던 불꽃축제가 아닌 새로운 클래스의 불꽃축제로 야경과 선상이라는 장소가 자아내는 로맨틱한 분위기에 어울리는 국내 최대 선상 음악불꽃축제이다.
                                </p>
                            </div>
                        </div>
                        
                        <!-- 오징어맨손잡기축제 -->
                        <div class="evt-area">
                            <div class="evt-box clr">
                                <div class="evt-img"><img src="http://img.sampobeach.co.kr/event/squid.jpg" alt="오징어맨손잡기축제"></div>
                                <div class="txt-box clr">
                                    <p class="evt-tit">장사항 오징어 맨손잡기 축제 2018</p>
                                    <div class="detail-box">
                                        <dl> 
                                            <dt>기간</dt>
									        <dd>2018.05.19 ~ 10.20</dd>
                                        </dl>
                                        <dl>
                                            <dt>주최</dt>
                                            <dd>속초시/장사청년회</dd>
                                        </dl>
                                        <dl>
                                            <dt>요금</dt>
                                            <dd>현지 확인</dd>
                                        </dl>
                                        <dl>
                                            <dt>시간</dt>
                                            <dd>상시</dd>
                                        </dl>
                                        <dl>
                                            <dt>비고</dt>
                                            <dd>장사항 내 해변</dd>
                                        </dl>
                                    </div>
                                </div>
                                <p class="evt-txt">
                                    속초시 장사항에서는 매년 오징어 맨손으로 잡기 체험 축제를 펼친다. 속초의 명물인 오징어와 장사항을 홍보하기 위해 열리는 이 축제는 수심 0.8∼1m 높이의 얕은 장사항 앞바다에 들어가 면장갑만 끼고 오징어를 잡는 체험축제이다.<br>
                                    매년 인기를 더해가는 오징어맨손잡기축제는 오징어맨손잡기 외에도 물속 줄다리기 등의 바다(해상) 행사를 함께 열어 참여하는 즐거움을 더하고 있다. 직접 잡아 올리는 재미와 쫄깃한 오징어의 즐거운 맛, 시원한 해변과 항포구의 즐거움이 있는 오징어 맨손잡기 축제를 놓치지 말자!
                                </p>
                            </div>
                        </div>
			            <!-- //180917 속초 관련 이벤트 4개 추가 -->
                    </div>
                </div>
            </div>
        </div>
        
        <!-- footer -->
        <footer id="footer" class="footer clr">
            <div class="footer-area">
                <p class="f-logo"><img src="../../img/common/logo_footer.png" alt="송지호해수욕장"></p>
                
                <div class="footer-box">
                    <nav class="fnb">
                        <ul class="menu clr">
                            <li class="nth-1"><a href="../about/index.html">해수욕장 소개</a></li>
                            <li class="nth-2"><a href="../tourist/index.html">주변관광지</a></li>
                            <li class="nth-3"><a href="../goseong/index.html">고성8경</a></li>
                            <li class="nth-4"><a href="../event/index.html">이벤트</a></li>
                            <li class="nth-5"><a href="../waycome/index.html">오시는길</a></li>
                            <!--<li class="nth-6"><a href="../about/index.html">공지사항</a></li>-->
                            <li class="nth-7"><a href="../board/memory_list.html">추억게시판</a></li>
                        </ul>
                    </nav>
                    
                    <address>
                        본 사이트는 송지호해변을 사랑하는 국민이 운영하고 있습니다.<br>
                        오시는 길 : 강원도 고성군 죽왕면 오호리 송지호해변
                        <small>copyright @ songjiho.co.kr All right reserved</small>
                    </address>
                </div>
            </div>
        </footer>
        
    </div>	
		
</body>
</html>