@charset "utf-8";

.waycome {}
.waycome .con-sec {}
.waycome .con-sec .con-area {padding-bottom:45px;}
.waycome .con-area .tit {}

.way-area {height:585px; padding:68px 0 100px;}
.way-area .map-box {position:relative; box-sizing:border-box; float:left; width:525px; height:100%; padding-top:8px}
.way-area .map-box .wap-map {position:relative; display:block; width:100%; height:100%;}
.way-area .map-box .wap-map a {position:relative; display:block; width:523px; height:100%; border:1px solid #d5d3d4;}
.way-area .map-box .wap-map .map {position:relative; width:100%; height:100%}

.way-area .way-info {position:relative; float:right; width:447px; height:100%; margin-left:22px}
.way-area .way-info dl {color:#434343; margin-bottom:30px}
.way-area .way-info .way-tit, .waycome .con-sec .way-area .way-info .way-txt, .waycome .con-sec .way-area .btn-box {position:relative; padding-left:23px;}
.way-area .way-info .way-tit {font-size:26px; font-weight:500; line-height:35px;}
.way-area .way-info .way-tit:before {content:''; display:block; position:absolute; width:14px; height:14px; top:11px; left:0; background:#c6c6c6}
.way-area .way-info .way-txt {}
.way-area .way-info .way-txt + .way-txt {padding-top:2px;}
.way-area .way-info .way-txt p {font-size:20px; line-height:32px;}
.way-area .way-info .way-txt .way-sub-tit {margin-top:15px; font-weight:500;}
.way-area .way-info .way-txt .dot {position:relative; margin-top:4px; padding-left:10px}
.way-area .way-info .way-txt .dot:before {content:''; display:block; position:absolute; width:5px; height:1px; top:16px; left:0; background:#434343}
.way-area .way-info .way-txt .way-sub-tit + .dot {margin-top:0}

.way-area .btn-box {position:absolute; bottom:0}
.way-area .btn-box a {display:inline-block; float:left}
.way-area .btn-box .btn-naver {}
.way-area .btn-box .btn-daum {margin-left:11px;}









