@charset "utf-8";

.waycome {}
.waycome .con-sec {padding-bottom:45px;}
.waycome .con-sec .con-area {}
.waycome .con-area .tit {}

.way-area {position:relative; display:block; width:100%; min-height:200px; height:50%;}
.way-area .map-box {position:relative; box-sizing:border-box; width:100%; height:100%;}
.way-area .map-box .wap-map {position:relative; display:block; width:100%; height:100%;}
.way-area .map-box .wap-map a {position:relative; display:block; width:100%; min-height:200px; height:100%; border:1px solid #bbb;}
.way-area .map-box .wap-map .map {position:relative; width:100%; height:100%}

.way-area .way-info {position:relative; width:100%; margin-top:25px}
.way-area .way-info dl {color:#434343; margin-bottom:18px}
.way-area .way-info .way-tit, .waycome .con-sec .way-area .way-info .way-txt {position:relative; padding-left:12px;}
.way-area .way-info .way-tit {font-size:15px; font-weight:500; line-height:18px;}
.way-area .way-info .way-tit:before {content:''; display:block; position:absolute; width:8px; height:8px; top:5px; left:0; background:#c6c6c6}
.way-area .way-info .way-txt {padding-top:2px;}
.way-area .way-info .way-txt p {font-size:12px; line-height:19px;}
.way-area .way-info .way-txt .way-sub-tit {margin-top:5px; font-weight:500;}
.way-area .way-info .way-txt .dot {position:relative; margin-top:1px; padding-left:6px}
.way-area .way-info .way-txt .way-sub-tit + .dot {margin-top:0}
.way-area .way-info .way-txt .dot:before {content:''; display:block; position:absolute; width:3px; height:1px; top:9px; left:0; background:#434343}

.way-area .btn-box {position:relative; box-sizing:border-box; width:100%; padding:2px 10% 0; }
.way-area .btn-box a {display:inline-block; float:right; text-align:right; width:48.3%}
.way-area .btn-box a:first-child {float:left; text-align:left; }

