@charset "utf-8";

.contents .main .slide-1:before {background: #eee url(http://design.ebiznetworks.co.kr/joon/beach/img/jumunjin-market.co.kr/m/mv_1.jpg) no-repeat center / cover;}
.contents .main .slide-2:before {background: #eee url(http://design.ebiznetworks.co.kr/joon/beach/img/jumunjin-market.co.kr/m/mv_2.jpg) no-repeat center / cover;}