<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>천진해수욕장</title>
	
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/init.css">
	
	<!--천진해수욕장 전용 css-->
	<link rel="stylesheet" href="http://static.cheonjin.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/init.css">
	<!--css-->
<!--
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/init.css">
-->
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ayajinbeach.co.kr/js/common.js"></script>
	<!--<script src="../static/js/common.js"></script>-->
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

    <div class="wrapper">

        <!-- header -->
        <header id="header" class="header">
            <div class="wrap clr">
                <div class="logo-box">
                   <a href="index.html" class="logo">
                       <h1 class="logo-tit c-blue">cheonjin</h1>
                       <span class="logo-txt">맑은바다, 깨끗한 백사장</span>
                       <p class="logo-sub-tit"><span class="c-blue">천진</span>해수욕장</p>
                       <p class="logo-adr"><span class="c-blue">cheonjin</span> .co.kr</p>
                   </a>
                </div>
                
				<nav class="gnb">
                    <ul class="menu">
                        <li class="nth-1"><a href="about/index.html">천진해변 소개</a></li>
                        <li class="nth-6"><a href="event/index.html">축제 이벤트</a></li>
                        <li class="nth-2"><a href="view/index.html">고성 8경</a></li>
                        <li class="nth-3"><a href="tourist/index.html">주변관광</a></li>
                        <li class="nth-4"><a href="waycome/index.html">오시는 길</a></li>
                        <li class="nth-5"><a href="board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
                
            <!-- 날씨 -->
            <div class="weather">
                <div class="area clr">
                    <div class="inner">
                        <span class="s-1">2018.07.02 (월)</span>
                        <span class="s-2">천진 날씨 : 비</span>
                        <span class="s-3"><span class="big">21</span><span class="c">℃</span></span>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- content -->
        <div class="contents main">
            <div class="wrap clr">
               <div class="con-area clr">
                    <!-- 메인 / 날씨 -->
                    <div class="weather">
                        <div class="area clr">
                            <img src="http://img.sampobeach.co.kr/weather/rain.png" alt="날씨">
                            <div class="inner">
                                <span class="s-1">2018.07.02 (월)</span>
                                <span class="s-2">천진 날씨 : 비</span>
                                <span class="s-3"><span class="big">21</span><span class="c">℃</span></span>
                            </div>
                        </div>
                    </div>
                    
                    <div class="main-txt-box">
                        <h2>천진해변<span class="m-sub-tit"><em>cheonjin</em> beach</span></h2>
                        <p class="p-1">
                            수려한 주위경관, 크고 작은 바위와 어우러진 맑은 바다,<br>
                            깨끗한 백사장에서 모든 사람이 행복해 집니다.
                        </p>
                    </div>
                    
                    <section class="tourist">
                        <div class="area cf">
                            <h3 class="h3-tit"><span class="f-bd">주변</span> 관광지 <span class="ayajin"><span class="f-bd">cheonjin</span> beach</span></h3>
                            <ol class="list cf">
                                <li>
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_01.jpg" alt="자연관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h4>통일전망대</h4>
                                            강원도 고성군 현내면 통일전망대로 457
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                </li>
                                <li>
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_02.jpg" alt="자연관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h4>설악산 울산바위</h4>
                                            강원도 고성군 토성면 원암리
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                </li>
                                <li>
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_03.jpg" alt="자연관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h4>송지호 관망타워</h4>
                                            강원도 고성군 죽왕면 동해대로 6021
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                </li>
                                <li>
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_04.jpg" alt="자연관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h4>화진포 해양박물관</h4>
                                            강원도 고성군 현내면 화진포길 412
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                </li>
                            </ol>
                        </div>
                   </section>
               </div>
            </div>
        </div>
        
        <!-- footer -->
        <footer class="footer f-con">
			<div class="wrap clr">
			    <div class="f-area clr">
                    <div class="logo-box">
                       <p class="logo-tit">천진해수욕장</p>
                       <p class="logo-txt"><span>cheonjin</span> beach</p>
                    </div>

                    <p class="txt-box">
                    	속초에서 북쪽으로 4km, 국도 7번에서 바로 !<br>
						천진해변에 오시면 수려한 바다는 물론, 평화롭고 한적한 바로 그 느낌을 전해드립니다.<br>
						<span>※ 본 사이트는 천진해수욕장을 아끼는 지역자치회에서 자체 운영합니다.</span>
                    </p>

                    <address>
                        강원도 고성군 토성면 천진리 천진해수욕장
                        <span>help@choenjin.co.kr</span>
						<small>COPYRIGHT @ CHEONJIN.CO.KR ALL RIGHT RESERVED</small>
                    </address>
                </div>
			</div>
		</footer>
    </div>	
		
</body>
</html>