<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>송지호해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">

	<!-- css -->
	<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/init_v1.1.css">
	<!--<link rel="stylesheet" href="../static/css/init_v1.1.css">-->
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.songjihobeach.co.kr/js/init_v1.1.js"></script>
	<!--<script src="../static/js/init_v1.1.js"></script>-->
    <!-- 190306 js 추가 -->
	<script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
</head>

<body class="Main">

	<h1 class="hidden">송지호해수욕장</h1>
	
	<div class="wrapper">
	    <!-- 상단 띠배너 -->
        <!-- 190306 상단띠배너 주석처리 -->
	   <!-- <div class="topbn-wrap clr">
	        <ul class="slide-banner clr">
	            <li class="bn-list-1 bn-goco">
	                <a href="#none" target="_blank" class="bn-link" title="고코투어 할인구매하기"></a>
	            </li>
	            <li class="bn-list-2 bn-ocean">
	                <a href="#none" target="_blank" class="bn-link" title="오션투유리조트 자세히보기"></a>
	            </li>
	        </ul>
           
            <script type="text/javascript">
                $(".topbn-wrap .slide-banner").bxSlider({
                    mode: 'fade',
                    auto: true,
                    controls : false,
                    pager : false,
                    autoControls: true,
                    autoHover: true,
                    speed: 500
                });
            </script>
	    </div>-->
	
		<!-- header -->
		<header class="header">
             <div class="header-area">
                 <div class="header-box clr">
                     <h1 class="logo"><a href="#top"><img src="http://img.songjihobeach.co.kr/common/logo.png" alt="송지호해수욕장 로고"></a></h1>
                     <nav class="gnb">
                         <ul class="menu clr">
                             <li class="itme-1"><a href="#about">해수욕장 소개</a></li>
                             <li class="itme-2"><a href="#tourist">주변관광지</a></li>
                             <li class="itme-3"><a href="#view">고성8경</a></li>
                             <li class="itme-4"><a href="#waycome">오시는 길</a></li>
                             <li class="itme-5 page-move"><a href="board/index.html">추억게시판</a></li>
                         </ul>
                     </nav>
                 </div>
             </div>
		</header>
			
		<!-- 190306 배너 추가 -->
        <div class="rWing-2">
            <div class="rw-box">
                <a href="http://ocean2you-bike.co.kr/view/" target="_blank" title="예약페이지로 새창 이동"><img src="http://img.sampobeach.co.kr/bn_bike.png" alt="삼포비치바이크"></a>
                <a href="http://ocean2you.co.kr/view/" target="_blank" title="예약페이지로 새창 이동"><img src="http://img.sampobeach.co.kr/bn_ocean.png" alt="오션투유리조트"></a>
                <a href="http://www.go.co.kr/home/view/?p_no=Gk94FGYQ" target="_blank" title="예약페이지로 새창 이동"><img src="http://img.sampobeach.co.kr/bn_ramada.png" alt="속초라마다호텔"></a>
                <a href="http://www.go.co.kr/home/view/?p_no=Gkx3EW4W" target="_blank" title="예약페이지로 새창 이동"><img src="http://img.sampobeach.co.kr/bn_seacruise.png" alt="속초씨크루즈호텔 예약하기"></a>
            </div>
        </div>
        
		<!-- contents -->
		<div class="contents">
		    <!-- 메인 비주얼 -->
			<section id="visual" class="visual-sec">
				<div id="mainVisual" class="bg-visual">
                </div>
			    <div class="visual-txt-box">
                    <div class="visual-txt">
                        <p class="p-1"><span class="f-bd">SONGJIHO</span> BEACH</p>
                        <h2><span class="f-bd">송지호</span>해수욕장</h2>
                        <p class="p-2"><span class="f-bdr">SONGJIHO</span> BEACH</p>
                        <p class="p-3">
                            고성군의 가장 유명한 해변<br>
                            다른곳에 비해 백사장이 길고 송림이 우거져<br>
                            남다른 경관을 자랑하는 해수욕장
                        </p> 
                    </div>
                </div>
			    
			    <!-- 날씨 -->
			    <div class="weather">
                    <div class="area">
                        <div class="inner">
                            <span class="s-1">2019.01.14 (월)</span>
                            <span class="s-2">속초의 오늘 <span class="t-1">▷</span> 맑음</span>
                            <span class="s-3"><span class="big">7</span><span class="c">℃</span></span>
                            <span class="s-4">
                                <img src="http://img.sampobeach.co.kr/weather/finedust.png" alt="미세먼지">
                                <span class="txt-dust">미세먼지 - <span class="grade">약간나쁨</span></span>
                            </span>
                        </div>
                        <img src="http://img.sampobeach.co.kr/weather/clear.png" alt="날씨">
                    </div>
                </div>
			</section>
       
            <!-- 해수욕장 소개 -->
			<section id="about" class="about-sec">
                <h3 class="con-tit">
                    <span class="row-1">송지호 해수욕장 소개 <span class="sokcho">SONGJIHO BEACH</span></span>
                </h3>
                
                <div class="con-area">
                    <figure class="fimg full"><img src="http://img.songjihobeach.co.kr/about/img_top_beach.jpg" alt="송지호 해수욕장"></figure>
                    <p class="sub-tit">
                        호수를 품은 아름다운 바다와<br>
                        햇빛에 부서지는 반짝이는 모래의 향연
                    </p>
                    <p class="con-txt">
                        송지호는 호수 둘레길 4km인 동해안의 청정한 석호로 1977년에<br>
                        주변이 국민관광지로 지정되어 자연호수와 죽도가 어우러져있는 경관이 수려한곳입니다.
                    </p>
                    <p class="con-txt">
                        특히 송지호 해수욕장과 왕곡마을,해양심층수단지, 철새관망쉼터 등 <br>
                        주변연계 관광여건이 매우 좋은곳으로, 오호리항 포구에서 싱싱한 활어회를 맛볼 수 있어 <br>
                        테마여행지로 각광을 받고있는 곳입니다.
                    </p>
                    <p class="con-txt">
                        또한 화진포해변과 성분이 같은 백사장이 펼쳐져 있는 곳으로 수심이 낮고 백사장 전면으로<br>
                        주위의 경관이 수려하여 수십만명의 관광객들의<br>
                        사랑을 한몸에 받고 있는 곳이기도 합니다.
                    </p>
                    <p class="con-txt">
                        해수욕장 북쪽 500m 거리에 위치한 송지호에서는<br>
                        동해안의 대표적인 천연 석호와 겨울철새인 <br>
                        고니의 도래지로도 유명한 곳이며, 담수와 바닷물이 <br>
                        만나는 곳으로 바닷물고기와 민물고기가 함께 <br>
                        서식하여 바다 낚시터로도 유명한 곳입니다. 
                    </p>
                    <p class="con-txt">
                        뛰어난 경관뿐만이 아닌 다양한 매력을 지니며,<br>
                        겨울철에는 천연기념물인 겨울철새 고니들을 볼 수<br>
                        있고, 여름철에는 시원한 해수욕을 할 수 있는 <br>
                        송지호 해수욕장으로 여러분을 초대합니다. 
                    </p>

                    <figure class="fimg img01"><img src="http://img.songjihobeach.co.kr/about/img_beach01.jpg" alt="송지호 해수욕장"></figure>
                    <figure class="fimg img02"><img src="http://img.songjihobeach.co.kr/about/img_beach02.jpg" alt="송지호 해수욕장"></figure>
                    <figure class="fimg img03"><img src="http://img.songjihobeach.co.kr/about/img_beach03.jpg" alt="송지호 해수욕장"></figure>
                </div>
            </section>
       
            <!-- 주변관광지 -->
			<section id="tourist" class="tour-sec">
                <h3 class="con-tit">
                    <span class="row-1">주변관광지 <span class="sokcho">SONGJIHO BEACH</span></span>
                </h3>
       
                <div class="con-area">
                    <!-- 주변맛집 -->
                    <div class="area clr">
                            <h4 class="h4-tit"><span class="f-bd">주변맛집</span> 관광지</h4>
                            <ol class="list cf">
                                <li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=4';" title="페이지 이동">
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_01.jpg" alt="주변맛집 관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h5>속초 횟집 모둠회 / 물회</h5>
                                            강원도 고성군 죽왕면 삼포해변길 9
                                        </dt>
                                        <dd>
                                            회는 여기가 짱이에요 !<span class="t-space"></span>청정 동해안에서 직접 잡아 현장에서 즉석으로 신선하고 싱싱한 활어를 공수하여 제공하는 맛집입니다. 추천 !
                                        </dd>
                                    </dl>
                                </li>
                                <li class="link-tour" onclick="window.open('about:blank').location.href='http://www.banderabbq.co.kr';" title="페이지 이동">
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_02.jpg" alt="주변맛집 관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h5>반데라바베큐플레이츠</h5>
                                            강원도 고성군 죽왕면 삼포해변길 9
                                        </dt>
                                        <dd>
                                            미국 남부식 바베큐 조리법 그대로! 훈연의 향이 가득한 리얼바베큐 플레이츠를 맛보세요.<br>
                                            쉽게 맛볼수 없는 최고의 감동을 드립니다.
                                        </dd>
                                    </dl>
                                </li>
                                <li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=2';" title="페이지 이동">
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_03.jpg" alt="주변맛집 관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h5>오션숯불갈비 &amp; 바베큐</h5>
                                            강원도 고성군 죽왕면 삼포해변길 9
                                        </dt>
                                        <dd>
                                            바다를 보면서 즐길 수 있는 지글지글 담백하고 맛있게 숯불향을 입힌 숯불갈비와 바베큐가 최고의 입맛을 찾아드립니다.
                                        </dd>
                                    </dl>
                                </li>
                                <li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you.co.kr/package/?pack_go=1';" title="페이지 이동">
                                    <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/food_04.jpg" alt="주변맛집 관광지"></figure>
                                    <dl>
                                        <dt>
                                            <h5>오션투유 조식뷔페</h5>
                                            강원도 고성군 죽왕면 삼포해변길 9
                                        </dt>
                                        <dd>
                                            오션투유리조트에서 준비한 다채로운 요리부터 달콤한 디저트까지 한자리에서 만끽할 수 있는 조식 뷔페를 즐겨보세요.
                                        </dd>
                                    </dl>
                                </li>
                            </ol>
                        </div>
                        
                    <!-- 놀거리 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">놀거리</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_01.jpg" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>배낚시</h5>
                                        강원도 고성군 바다
                                    </dt>
                                    <dd>
                                        고성 바다낚시는 즉석에서 회를 떠 먹을 수 <br>
                                        있어 신선함을 맛 볼 수 있습니다. 시원한 <br>
                                        바닷 바람과 눈 부신 바닷 빛을 느끼세요.
                                    </dd>
                                </dl>
                            </li>
                            <li class="link-tour" onclick="window.open('about:blank').location.href='http://ocean2you-bike.co.kr/'" title="페이지 이동">
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_02.jpg" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>전동바이크</h5>
                                        강원 고성군 죽왕면 삼포해변길 9
                                    </dt>
                                    <dd>
                                        탁 트인 해안가를 따라 가슴까지 시원하게 <br>
                                        즐길 수 있는 전동 바이크를 권합니다. 다양한 <br>
                                        해안 코스와 풍경을 눈과 마음에 담으세요.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_03.jpg" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>모터보트</h5>
                                        강원도 고성군 바다
                                    </dt>
                                    <dd>
                                        시원한 바닷바람을 만나보자 ! 아름다운 <br>
                                        천혜의 자연과 함께 물살을 가르며 달리는 <br>
                                        짜릿하고 스릴있는 레포츠를 즐겨보세요
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/play_04.jpg" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>진부령유원지</h5>
                                        강원도 고성군 간성읍 진부리
                                    </dt>
                                    <dd>
                                        산속에서 내려오는 오염되지 않은 맑은 물이 <br>
                                        관광객을 사로잡고 있으며 주위에 산간, <br>
                                        계곡, 하천이 있는 자연 발생적 유원지입니다.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                        
                    <!-- 사찰/유적 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">사찰/유적</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_01.jpg" alt="사찰유적관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>건봉사</h5>
                                        강원도 고성군 거진읍 건봉사로 723
                                    </dt>
                                    <dd>
                                        설악산 신흥사, 백담사 등 9개 말사를<br>
                                        거느렸던 전국 4대 사찰 중 한 곳으로 신라<br> 
                                        법흥왕(서기520년)때 지어진 오랜 사찰이다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_02.jpg" alt="사찰유적관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>천학정</h5>
                                        강원도 고성군 토성면 천학정길 10
                                    </dt>
                                    <dd>
                                        토성면과 죽왕면을 경계로 흐르는 문암천을 <br>
                                        지나 1Km를 가면 교암리 마을 앞에 소나무가 <br>
                                        우거진 조그만 산에 천학정이 있다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_03.jpg" alt="사찰유적관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>화진포</h5>
                                        강원도 고성군 거진읍 화진포길 280
                                    </dt>
                                    <dd>
                                        화진포는 호숫가에 해당화가 만발해 붙여진 <br>
                                        이름으로 둘레 16km의 동해안 최대의 <br>
                                        자연호수이다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/ruins_04.jpg" alt="사찰유적관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>청간정</h5>
                                        강원도 고성군 토성면 동해대로 5110
                                    </dt>
                                    <dd>
                                        설악산 골짜기에서 흘러내리는 청간천과 <br>
                                        만경창파가 넘실거리는 기암절벽위에 <br>
                                        아담하게 세워져 있다
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                        
                    <!-- 항구/항만 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">항구/항만</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/harbor_01.jpg" alt="항구/항만 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>대포항</h5>
                                        강원도 속초시 대포항1길 6-13
                                    </dt>
                                    <dd>
                                        광어, 넙치, 방어등의 고급 생선들이 반드시 대포항을 통해 처리되어 신선한 생선을 즐기려는 관광객들이 몰리고 있으며, 대규모 종합 관광어항 단지로 개발되어 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/harbor_02.jpg" alt="항구/항만 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>설악항</h5>
                                        강원도 속초시 동해대로 3666
                                    </dt>
                                    <dd>
                                        속초시의 남쪽 끝에 위치한 항구로 시내 외각에 위치하여 원래의 이곳의 명칭은 내물치라 불리었으며 설악산입구로 가장 많이 불리고 있는 곳이다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/harbor_03.jpg" alt="항구/항만 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>속초항(동명항)</h5>
                                        강원도 속초시 해오름로 190
                                    </dt>
                                    <dd>
                                        동해에서 해가 밝아오는 항구라는 이름대로 일출이 유명하여 매년 일출을 보기 위해 많은 관광객이 찾는다. 항구 주위로 일출을 잘 볼 수 있는 영금정, 속초등대전망대 등이 있다. 
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/harbor_04.jpg" alt="항구/항만 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>장사항</h5>
                                        강원도 속초시 장사항해안길 56
                                    </dt>
                                    <dd>
                                        배낚시 어장이 형성되어 바다낚시를 즐길 수 있는 최적지로, 매년 여름 피서철 동안 오징어를 맨손으로 잡는 축제가 열려 시원한 즐거움을 선사해주는 곳입니다.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_01.jpg" alt="항구항만관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>가진항</h5>
                                        강원도 고성군 죽왕면 가진리
                                    </dt>
                                    <dd>
                                        잔잔함과 조용함 때론 거침이 함께 살아있는 <br>
                                        동해안 항포구 중에서도 아름다운 가진항은 <br>
                                        어촌계의 비교적 큰 규모의 항입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_02.jpg" alt="항구항만관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>대진항</h5>
                                        강원도 고성군 현내면
                                    </dt>
                                    <dd>
                                        동해안 최북단 면소재지이며, 동쪽은 동해, <br>
                                        서쪽은 마달리, 북쪽은 마차진리, 남쪽에는 <br>
                                        초도리, 철통리와 경계를 이루고 있다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_03.jpg" alt="항구항만관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>거진항</h5>
                                        강원도 고성군 거진읍 거진리
                                    </dt>
                                    <dd>
                                        큰나루 즉 거진이라 불리는 항구이다.<br>
                                        거진항의 발전은 명태가 유도했다고들 말한다.<br>
                                        이 지방엔 명태주산지로 별미음식이 다양하다. 
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/harbor_04.jpg" alt="항구항만관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>아야진항</h5>
                                        강원도 고성군 토성면 아야진리
                                    </dt>
                                    <dd>
                                        특이하게 두곳으로 나뉘어져 있고 항구주변 <br>
                                        바닷가에 낚시하기에도 좋은 곳입니다. <br>
                                        미항으로 관광객이 자주 찾고 있습니다.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                        
                    <!-- 자연 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">자연</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/nature_01.jpg" alt="국립공원관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>설악산국립공원</h5>
                                        강원도 속초시 설악산로 1091
                                    </dt>
                                    <dd>
                                        수많은 동식물들이 함께 살고 있는 
                                        자연생태계의 보고이며, 수려한 자연자원을 
                                        가지고 있는 공원으로 계곡,폭포,바위등 
                                        대표적인 경관들이 어우러져있는 곳입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/nature_02.jpg" alt="국립공원관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>권금성</h5>
                                        강원도 속초시 설악산로 1091
                                    </dt>
                                    <dd>
                                        신흥사 입구에서 남으로 하늘높이 우뚝 솟은 
                                        웅장한 봉으로 설악의 선경이라고 불러도 
                                        과언이 아닐정도의 경관을 자랑하고 있는 
                                        곳입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/nature_03.jpg" alt="국립공원관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>신흥사</h5>
                                        강원도 속초시 설악산로 1137
                                    </dt>
                                    <dd>
                                        향성사지 3층 석탑, 신흥사 극략보전, 보제루, 
                                        목조아미타삼존불좌상, 부도, 경판등의 
                                        문화재가 있는 곳입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/nature_04.jpg" alt="국립공원관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>울산바위</h5>
                                        강원도 속초시 설악산로 1091
                                    </dt>
                                    <dd>
                                        남한에서 가장 멋진 바위로 꼽혔으며, 
                                        정상까지 오를 수 있는 계단이 만들어져 있고, 
                                        정상에 오르면 대청봉도 보이고 외설악 
                                        전경도 눈에 들어 오는 곳입니다.
                                    </dd>
                                </dl>
                            </li> 
                        </ol>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_01.jpg" alt="자연관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>통일전망대</h5>
                                        강원도 고성군 현내면 통일전망대로 457
                                    </dt>
                                    <dd>
                                        고성 통일전망대는 동해안 최북단 강원도<br>
                                        고성군 현내면 명호리의 해발 70미터 고지위에<br>
                                        위치하고 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_02.jpg" alt="자연관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>설악산 울산바위</h5>
                                        강원도 고성군 토성면 원암리
                                    </dt>
                                    <dd>
                                        설악산 끝자락의 속초와 고성의 경계지역에<br>
                                        위치한 울산바위는 수많은 전설과 함께 고성<br>
                                        지역에서 바라본 그 경관 최고입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_03.jpg" alt="자연관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>송지호 관망타워</h5>
                                        강원도 고성군 죽왕면 동해대로 6021
                                    </dt>
                                    <dd>
                                        4층 규모의 독특한 관망타워 형태로 철새들의<br>
                                        군무가 한눈에 내려다보여 어린이들의<br>
                                        자연생태학습관으로 큰 인기를 얻고 있다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/nature_04.jpg" alt="자연관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>화진포 해양박물관</h5>
                                        강원도 고성군 현내면 화진포길 412
                                    </dt>
                                    <dd>
                                        세계적으로 희귀한 각종 조개, 갑각, 산호,<br>
                                        화석류, 박제 등 1,500여종 40,000여 점을 <br>
                                        전시한 패류관 어류관으로 구성되어 있습니다. 
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                        
                    <!-- 조형물 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">조형물</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/sculp_01.jpg" alt="조형물관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>엑스포타워</h5>
                                        강원도 속초시 엑스포로 72
                                    </dt>
                                    <dd>
                                        74m 높이의 전망대로 자연,환경, 관광을 
                                        모티브로 발전하는 강원도의 미래를 
                                        상징하였으며, 산과 호수가 어울리는 
                                        자연공원 속의 하이테크 전망 타워 입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/sculp_02.jpg" alt="조형물관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>인어연인상</h5>
                                        강원 속초시 동해대로 3664
                                    </dt>
                                    <dd>
                                        연인의 이루어지지 못한 영원한 사랑을 위해 
                                        마을 사람들이 세운 동상으로 이곳은 사랑이 
                                        이루어지는 바닷가 마을로 널리 소개되며 
                                        연인들이 자주 찾는 명소입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/sculp_03.jpg" alt="조형물관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>산호상</h5>
                                        강원도 속초시 해오름로 190
                                    </dt>
                                    <dd>
                                        산호초의 환상적 꿈과 물고기의 역동적 희망, 
                                        그리고 그 꿈과 희망을 귓가에 전해주는 
                                        소리를 형상화한 조형물입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sokchobeach.co.kr/tourist/sculp_04.jpg" alt="조형물관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>영금정</h5>
                                        강원도 속초시 동명항길 35
                                    </dt>
                                    <dd>
                                        바닷가에 흩어져 있는 암반 지역을 말하는 
                                        것으로, 아기자기한 해변 경관을 감상할 수 
                                        있으며, 방파제와는 또 다른 바다를 느낄 수 
                                        있으며, 일출 감상 명소이기도 합니다. 
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                    
                    <!-- 박물관/기념관 -->
                    <div class="area clr">
                        <h4 class="h4-tit"><span class="f-bd">박물관/기념관</span> 관광지</h4>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_01.jpg" alt="박물관/기념관 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>국립산악박물관</h5>
                                        강원도 속초시 미시령로 3054
                                    </dt>
                                    <dd>
                                        산림청에서는 세계적인 산악강국인 우리나라의 등산 역사・문화와 등반 기록등을 재조명함으로써, 우리 산에 대한 자긍심을 고취하는 목적으로 건립하였습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_02.jpg" alt="박물관/기념관 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>젓갈박물관</h5>
                                        강원도 속초시 농공단지 1길 4 젓갈콤플렉스
                                    </dt>
                                    <dd>
                                        전통발효식품이자 지역 특산품인 양념젓갈을 직접 만들어 맛을보고 다양한 음식의 색다른 경험을 체험하는 공간으로서 속초 양념젓갈을 홍보하고 전통 음식문화를 체험하는 명소
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_03.jpg" alt="박물관/기념관 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>속초시립박물관</h5>
                                        강원도 속초시 신흥2길 16
                                    </dt>
                                    <dd>
                                        강원 영동 북부지역 최대규모의 박물관 및 문화촌은 국가지정 1종 박물관의 여건을 모두 갖추고 있으며, 속초시의 역사관을 정립시켜 나가는데 크게 기여하고 있다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_04.jpg" alt="박물관/기념관 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>숲 박물관</h5>
                                        강원도 속초시 신흥2길 16
                                    </dt>
                                    <dd>
                                        숲 박물관은 생태 라는 자원을 바탕으로 국립산악박물관, 속초시립박물관, 숲 박물관이 연계되어 조화롭게 발전 하기를 희망하는 의미입니다.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_05.jpg" alt="박물관기념관관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>DMZ 박물관</h5>
                                        강원도 고성군 현내면 통일전망대로 369
                                    </dt>
                                    <dd>
                                        1950년 한국전쟁 전후 모습과, 휴전선이 갖는<br>
                                        역사적인 의미, 60여년 간 사람의 손길이 닿지<br>
                                        않아 보존되어있는 생태환경을 보여준다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_06.jpg" alt="박물관기념관관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>진부령 미술관</h5>
                                        강원도 고성군 간성읍 진부령로 663
                                    </dt>
                                    <dd>
                                        민족의 강인한 정신을 담은 국민작가로 평가<br>
                                        받고 있는 이중섭의 전시실이 운영되고 있어<br>
                                        좋은 교육의 장이다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_07.jpg" alt="박물관기념관관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>6.25 전쟁체험전시관</h5>
                                        고성군 현내면 통일전망대로 453
                                    </dt>
                                    <dd>
                                        전사자 유해발굴실, 6.25전쟁 자료실, 유엔<br>
                                        참전 국실, 등 6.25전쟁의 참상을 생생하게<br>
                                        느껴볼 수 있다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.sampobeach.co.kr/tourist/museum_08.jpg" alt="박물관기념관관광지"></figure>
                                <dl>
                                    <dt>
                                        <h5>금강산 자연사박물관</h5>
                                        강원도 고성군 현내면 동해대로 7961
                                    </dt>
                                    <dd>
                                        고생대 화석, 중생대 화석,신생대 화석 뿐만<br>
                                        아니라 200여점의 세계희곤충, 등 우주와 지구<br>
                                        를 형상화한 국내 초유의 박물관이다.  
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
       
            <!-- 고성8경 -->
			<section id="view" class="view-sec">
                <!-- 고성8경 -->
                <h3 class="con-tit">
                    <span class="row-1">고성8경 <span class="sokcho">SONGJIHO BEACH</span></span>
                </h3>
                
                <div class="con-area clr">
                    <ul class="gs-list clr">
                        <li class="li-1 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs1.jpg" alt="제 1경"></div>
                            <div class="txt-box">
                                <p class="tit">제 1경 건봉사</p>
                                <p class="adr">강원도 고성군 거진읍 건봉사로 723</p>
                                <p class="txt">설악산 신흥사, 백담사 등 9개 말사를 거느렸던 전국 4대 사찰중 한 곳으로 신라 법흥왕때 지어진 오랜 사찰입니다.</p>
                            </div>
                        </li>
                        <li class="li-2">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs2.jpg" alt="제 2경"></div>
                            <div class="txt-box">
                                <p class="tit">제 2경 천학정</p>
                                <p class="adr">강원도 고성군 토성면 천학정길 10</p>
                                <p class="txt">동해바다의 신비를 고스란히 간직하고 있는 천혜의 기암괴석과 깎아지른 듯한 해안 절벽 위에 건립되어 경치가 아름다운 곳입니다.</p>
                            </div>
                        </li>
                        <li class="li-3 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs3.jpg" alt="제 3경"></div>
                            <div class="txt-box">
                                <p class="tit">제 3경 화진포</p>
                                <p class="adr">고성군 현내면 통일전망대로 453</p>
                                <p class="txt">죽정리에 연접한 화진포는 호숫가에 해당화가 만발해 붙여진 이름으로 둘레 16km의 동해안 최대의 자연호수이다.</p>
                            </div>
                        </li>
                        <li class="li-4">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs4.jpg" alt="제 4경"></div>
                            <div class="txt-box">
                                <p class="tit">제 4경 청간정</p>
                                <p class="adr">강원도 고성군 토성면 동해대로 5110</p>
                                <p class="txt">설악산 골짜기에서 흘러내리는청간천과 만경창파가 넘실거리는 기암절벽위에 팔각 지붕의 중층누정으로 세워져 있습니다.</p>
                            </div>
                        </li>
                        <li class="li-5 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs5.jpg" alt="제 5경"></div>
                            <div class="txt-box">
                                <p class="tit">제 5경 울산바위</p>
                                <p class="adr">강원도 고성군 토성면 원암리</p>
                                <p class="txt">설악산 끝자락의 속초와 고성의 경계지역에 위치한 울산바위는 자연의 위용과 함께 기암절벽의 극치를 보여줍니다.</p>
                            </div>
                        </li>
                        <li class="li-6">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs6.jpg" alt="제 6경"></div>
                            <div class="txt-box">
                                <p class="tit">제 6경 통일전망대</p>
                                <p class="adr">강원도 고성군 현내면 금강산로 481</p>
                                <p class="txt">금강산의 구선봉과 해금강이 지척에 보이며, 발 아래에는 남북연결 도로로 금강산육로이 이루어지는 모습을 볼 수 있습니다.</p>
                            </div>
                        </li>
                        <li class="li-7 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs7.jpg" alt="제 7경"></div>
                            <div class="txt-box">
                                <p class="tit">제 7경 송지호</p>
                                <p class="adr">강원도 고성군 죽왕면 동해대로 6021</p>
                                <p class="txt">송림이 울창한 송지호는 둘리가 약 4km, 수심이 5m에 달하는 자연호수와 죽도가 어우러져 경관이 수려한 곳입니다.</p>
                            </div>
                        </li>
                        <li class="li-8">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_gs8.jpg" alt="제 8경"></div>
                            <div class="txt-box">
                                <p class="tit">제 8경 마산봉설경</p>
                                <p class="adr">강원도 고성군 간성읍 흘리</p>
                                <p class="txt">백두대간 준령 위 진부령 인근에 위치하고 있는 봉우리로 동해안의 절경과 겨울의 설경이 경관을 이루고 있습니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                
                <!-- 속초8경 -->
                <h3 class="con-tit no-line">
                    <span class="row-1">속초8경 <span class="sokcho">SONGJIHO BEACH</span></span>
                </h3>

                <div class="con-area clr">
                    <ul class="gs-list clr">
                        <li class="li-1 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc1.jpg" alt="제 1경"></div>
                            <div class="txt-box">
                                <p class="tit">제 1경 등대전망대</p>
                                <p class="adr">속초시 영금정로5길 8-28</p>
                                <p class="txt">영금정 속초등대전망대로 많이 알려져 있는 곳으로 전망대에서 바라보는 바다와 설악산의 풍경이 절경입니다.</p>
                            </div>
                        </li>
                        <li class="li-2">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc2.jpg" alt="제 2경"></div>
                            <div class="txt-box">
                                <p class="tit">제 2경 범바위</p>
                                <p class="adr">속초시 영랑호반길 140</p>
                                <p class="txt">영랑호 중간지점 서남쪽에 잠겨있는 큰 바위로서 위엄이 당당하며 마치 범형상으로 생겼다고 하여 범바위로 불립니다.</p>
                            </div>
                        </li>
                        <li class="li-3 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc3.jpg" alt="제 3경"></div>
                            <div class="txt-box">
                                <p class="tit">제 3경 청대산</p>
                                <p class="adr">속초시 청대로 207</p>
                                <p class="txt">정상에서 보는 속초시가지와 동해일출뿐만 아니라 대청봉, 달마봉, 울산바위 등 설악을 가까이에서 조망할 수있는 천연전망대입니다.</p>
                            </div>
                        </li>
                        <li class="li-4">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc4.jpg" alt="제 4경"></div>
                            <div class="txt-box">
                                <p class="tit">제 4경 청초호 호수공원</p>
                                <p class="adr">속초시 청초호반로</p>
                                <p class="txt">호수 위에 지어진 청초정은 시원한 동해 바다와 설악산을 감상할 수 있는 명소로, 해상공원에는 청룡과 황룡 조형물이 있습니다.</p>
                            </div>
                        </li>
                        <li class="li-5 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc5.jpg" alt="제 5경"></div>
                            <div class="txt-box">
                                <p class="tit">제 5경 조도</p>
                                <p class="adr">속초시 해오름로 190</p>
                                <p class="txt">새들이 많이 찾는 섬이라하여 붙여진 조도와 백사장이 어우러져 주변 경관의 조화로움을 더해줍니다.</p>
                            </div>
                        </li>
                        <li class="li-6">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc6.jpg" alt="제 6경"></div>
                            <div class="txt-box">
                                <p class="tit">제 6경 대포 외옹치</p>
                                <p class="adr">속초시 대포항길</p>
                                <p class="txt">설악산 기슭의 청정 바닷가에 자리잡은 대포는 광어, 넙치, 방어 등의 집산지로 유명하여 파도의 경관이 아름다운 곳입니다.</p>
                            </div>
                        </li>
                        <li class="li-7 ml-0">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc7.jpg" alt="제 7경"></div>
                            <div class="txt-box">
                                <p class="tit">제 7경 설악 해맞이공원</p>
                                <p class="adr">속초시 동해대로 3664</p>
                                <p class="txt">관광객의 손모양을 담아 도자기로 구워내 해맞이 광장 등 다양한 테마를 가진 조각상과 분수대가 어우러져 있습니다.</p>
                            </div>
                        </li>
                        <li class="li-8">
                            <div class="img-box"><img src="http://img.songjihobeach.co.kr/goseong8/img_sc8.jpg" alt="제 8경"></div>
                            <div class="txt-box">
                                <p class="tit">제 8경 학무정</p>
                                <p class="adr">속초시 상도문 2길</p>
                                <p class="txt">조선 말 매곡처사 오윤환 선생이 1934년에 건립하였으며, 정자모양이 육각으로 되어 육모정이라고도 부릅니다.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
       
            <!-- 오시는 길 -->
			<section id="waycome" class="waycome-sec">
                <h3 class="con-tit">
                    <span class="row-1">오시는길 <span class="sokcho">SONGJIHO BEACH</span></span>
                </h3>
                
                <div class="con-area clr">
                    <div class="map-box">
                        <div class="wap-map">
                            <a href="http://map.daum.net/?urlX=833999&urlY=1344527&itemId=7954247" target="_blank"><img src="http://img.songjihobeach.co.kr/waycome/map.jpg" alt="송지호해수욕장 지도"></a>
                        </div>
                    </div>
                    <div class="way-info">
                        <dl>
                            <dt class="way-tit">자가 차량 이용시</dt>
                            <dd class="way-txt">
                                <p class="dot">네비게이션 주소 또는 <span class="c-blue">송지호해수욕장</span>을 입력</p>
                                <p class="dot"><span class="c-blue">강원도 고성군 죽왕면 오호리</span> 주소를 입력</p>
                            </dd>
                        </dl>
                        <dl>
                            <dt class="way-tit">대중교통 이용시</dt>
                            <dd class="way-txt">
                                <p class="way-sub-tit">간성시외버스터미널 하차</p>
                                <p class="dot">신안리 정류장에서 속초-간성(1)(신안리) 승차,<br>오호리 정류장에서 하차, 511m이동</p>
                            </dd>
                            <dd class="way-txt">
                                <p class="way-sub-tit">거진종합버스터미널 하차</p>
                                <p class="dot">거진8리 정류장에서 속초-대진(10)(거진8리) 승차,<br>오호리 정류장에서 하차, 511m이동</p>
                            </dd>
                            <dd class="way-txt">
                                <p class="way-sub-tit">대진시외버스터미널 하차</p>
                                <p class="dot">초도2리 정류장에서 속초-대진(10)(초도2리) 승차,<br>오호리 정류장에서 하차, 511m이동</p>
                            </dd>
                        </dl>
                        <div class="btn-box clr">
                            <a href="http://naver.me/540xUihf" class="btn-naver" target="_blank"><img src="http://img.sampobeach.co.kr/waycome/btn_n.png" alt="네이버지도보기"></a>
                            <a href="http://map.daum.net/?urlX=833999&urlY=1344527&itemId=7954247" class="btn-daum" target="_blank"><img src="http://img.sampobeach.co.kr/waycome/btn_d.png" alt="다음지도보기"></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        
		<!-- footer -->
		<footer class="footer">
			<div class="footer-area">
			    <p class="logo"><img src="http://img.songjihobeach.co.kr/common/logo.png" alt="송지호해수욕장 로고"></p>
			    <div class="f-txt-box">
                    <p class="p-0">본 사이트는 송지호해변을 사랑하는 마을 주민회에서 운영하고 있습니다.</p>
                    <address>
                        <p>오시는 길 : 강원도 고성군 죽왕면 오호리 송지호해변</p>
                        <small>COPYRIGHT @ SONGHIHOBEACH.CO.KR ALL RIGHT RESERVED</small>
                    </address>
			    </div>
			</div>
		</footer>
        
	</div>

</body>

</html>