<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>청초호</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">

	<!-- css -->
	<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/init_v1.1.css">
	<!-- 청초호 css 추가 -->
	<link rel="stylesheet" href="../../static/css/init.css">
	
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.songjihobeach.co.kr/js/init_v1.1.js"></script>
	<!--<script src="../static/js/init_v1.1.js"></script>-->
	<!-- 청초호 js 추가 -->
	<script src="../../static/js/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
</head>

<!-- 청초호일 경우 lake 추가 -->
<body class="Board Lake">

	<h1 class="hidden">청초호</h1>
	
	<div class="wrapper">
	
		<!-- header -->
		<header class="header">
             <div class="header-area">
                 <div class="header-box clr">
                     <h1 class="logo"><a href="../index.html"><img src="../../img/logo.png" alt="청초호 로고"></a></h1>
                     <nav class="gnb">
                         <ul class="menu clr">
                             <li class="itme-1"><a href="../index.html">청초호 소개</a></li>
                             <li class="itme-2 page-move"><a href="../event/index.html">축제 이벤트</a></li>
                             <li class="itme-3"><a href="../index.html">관광정보</a></li>
                             <li class="itme-4"><a href="../index.html">속초8경</a></li>
                             <li class="itme-5"><a href="../index.html">오시는 길</a></li>
                             <li class="itme-6 on page-move"><a href="../board/index.html">추억게시판</a></li>
                         </ul>
                     </nav>
                 </div>
             </div>
		</header>
	
		<!-- contents -->
		<div class="contents">
           <!-- subVisual type-2 추가 -->
            <section class="subVisual type-2">
                <div class="mainTxt">
                    <p class="p-1">복했던 어제, 즐거웠던 기억을 남겨보세요</p>
                    <h2>속초 청초호 <span class="f-bd">추억게시판</span></h2>
                    <p class="p-2"><span class="f-bdr">SOKCHO</span> CHEONGCHOHO LAKE</p>
                </div>
            </section>
            
            <div class="con-sec">
                <section class="board-area">
                   <div class="board-box">
                        <div class="area area-1">
                            <table class="tbStyle tb-list">
                                <colgroup>
                                    <col class="nth-1">
                                    <col class="nth-2">
                                    <col class="nth-3">
                                    <col class="nth-4">
                                    <col class="nth-5">
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>번호</th>
                                        <th>제목</th>
                                        <th>작성자</th>
                                        <th>작성일</th>
                                        <th>조회수</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2</td>
                                        <td><a href="">청초호에 오시거든.. 꼭 숙소는 오션투유리조트에서 머무시길 바랍니다.</a></td>
                                        <td>오션투유</td>
                                        <td>2018.09.05</td>
                                        <td>59</td>
                                    </tr>
                                    <tr class="reply">
                                        <td>1</td>
                                        <td><a href=""><span class="re">RE</span> 방문해 주셔서 감사합니다.</a></td>
                                        <td>오션투유매니저</td>
                                        <td>2018.09.05</td>
                                        <td>12345</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="pagenation" id="pagenation">
                                <a class="prev" href="">&lt;</a>
                                <a class="on" href="">1</a>
                                <a href="">2</a>
                                <a href="">3</a>
                                <a class="next" href="">&gt;</a>
                            </div>
                            <div class="row-btn cf">
                                <button type="button" class="appe-reset btn-write">글쓰기</button>
                            </div>
                        </div>
                        <form name="search_form">
                            <div class="row-search">
                                <div class="sltDiv">
                                    <span class="sltArr"></span>
                                    <select name="" id="" class="category appe-reset">
                                        <option value="">제목</option>
                                        <option value="">키워드</option>
                                    </select>
                                </div>
                                <input type="text" value="" class="appe-reset keword">
                                <input type="button" value="검색" class="appe-reset btn-search">
                            </div>
                        </form>

                   </div>
                </section>
            </div>
        </div>
        
		<!-- footer -->
		<footer class="footer">
			<div class="footer-area">
			    <p class="logo"><img src="../../img/logo.png" alt="청초호 로고"></p>
			    <div class="f-txt-box">
                    <p class="p-0">속초의 중심을 이루고 있는 청초호입니다.</p>
                    <address>
                        <p>대한민국 강원도 속초시 청호동</p>
                        <p>이메일 help@chungchoho.co.kr</p>
                        <small>COPYRIGHT @ CHUNGCHOHO.CO.KR ALL RIGHT RESERVED</small>
                    </address> 
			    </div>
			</div>
		</footer>
        
	</div>

</body>

</html>