@charset "utf-8";

.board {}{}
.board .con-sec {padding-bottom:45px;}
.board-area {margin-top:3px}

/* list */
.list .board-list {position: relative; border-top: 1px solid #3c3b3b;}
.list .board-list .tbStyle {position: relative; table-layout: fixed; width: 100%; border-top: 1px solid #c4c4c4; border-bottom: 2px solid #d9d9d9;}
.list .board-list .tbStyle col.nth-1 {width: 72%;}
.list .board-list .tbStyle col.nth-2 {width: 28%;}
.list .board-list .tbStyle th {padding:10px 0px 11px; font-size:13px; text-align: center; color:#353535; }
.list .board-list .tbStyle td {overflow: hidden; padding:8px 0px 7px; text-overflow: ellipsis; white-space: nowrap; font-size:12px; text-align: center; color:#383838}
.list .board-list .tbStyle td.t-left {padding-left:6px; text-align:left}
.list .board-list .tbStyle td a {display:block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}  
.list .board-list .tbStyle thead tr {background: #f2f2f2;}
.list .board-list .tbStyle tbody tr {border-top: 1px solid #d9d9d9;}
.list .board-list .tbStyle tbody tr a {display: block;}
.board-list .page-box {position: relative; text-align: center; margin-top:19px;}
.board-list .pagenation {position: relative; text-align: center; font-size: 0;}
.board-list .pagenation a {display: inline-block; font-size: 12px; width:24px; height:24px; font-family:sans-serif; font-weight: 600; vertical-align: middle; line-height: 2em; color: #d2d2d2; border: 1px solid #d2d2d2; border-left: 0;}
.board-list .pagenation a[class*="prev"], .board-list .pagenation a[class*="next"] {font-size: 10px; line-height: 2.3em; letter-spacing: -2px;}
.board-list .pagenation a.on {background: #d2d2d2; color: #fff;}
.board-list .pagenation a.prev, .board-list .pagenation a.next {background: #d2d2d2; color: #595959;}
.board-list .pagenation a.prev {text-indent: -4px; margin-right:10px;}
.board-list .pagenation a.next {text-indent: 1px; margin-left:10px;}

/* read */
.read .board-list .tbStyle {position: relative; table-layout: fixed; width: 100%; border-top: 1px solid #858585;}
.read .board-list .tbStyle col.nth-1 {width: 72%;}
.read .board-list .tbStyle col.nth-2 {width: 28%;}
.read .board-list .tbStyle th {overflow: hidden; padding:9px 80px 10px 11px; font-size:13px; text-overflow: ellipsis; white-space: nowrap;}
.read .board-list .tbStyle td {display:block; min-height:298px; height:100%; padding:15px 16px; word-break:keep-all; font-size:12px; line-height:20px;}
.read .board-list .tbStyle td p {margin-top:6px;}
.read .board-list .tbStyle thead tr {border-top: 1px solid #cfcfcf; border-bottom: 1px solid #e9e9e9; background: #f2f2f2;}
.read .board-list .tbStyle tbody tr {border-bottom: 2px solid #d9d9d9;}
.read .board-list .tbStyle thead tr th .flt-r {position:absolute; right:11px;}
.read .board-list .row-btn {margin-top:17px; text-align: center;}
.read .board-list .pagenation + .row-btn {margin-top: 0;}
.read .board-list .row-btn .btn-list {position: relative; display: inline-block; box-sizing: border-box; width:88px; height:26px; font-size: 12px; text-align:center; line-height:26px; color:#676767; border: 1px solid #bbb; border-radius:1px;}

/* memory list */
.list.memory .board-list .tbStyle col.nth-1 {width: 75%;}
.list.memory .board-list .tbStyle col.nth-2 {width: 25%;}
.list.memory .board-list .tbStyle tr.reply td {vertical-align:middle}
.list.memory .board-list .tbStyle tr.reply td a {text-indent: 0;}
.list.memory .board-list .tbStyle tr.reply td a .re {position: relative; top: -1px; display: inline-block; font-size:10px; text-indent: 0; background: #898989; color: #fff; padding: 1px 5px;}
.memory .board-list .row-btn [class*=btn-] {position: relative; display: inline-block; box-sizing: border-box; width:100%; height:27px; font-size: 12px; text-align:center; line-height:27px; color:#676767; border: 1px solid #bbb; border-radius:1px; background:#fff}
.memory .board-list .search-box {position: relative; margin-top: 17px;}
.memory .board-list .row-search {display:table; position: relative; width:77%;}
.memory .board-list .row-search > * {position: relative; display: inline-block; height: 27px; border: 1px solid #c8c8c8; background: #fff; box-sizing: border-box; vertical-align: middle; padding: 0 5px; font-size: 12px; line-height:27px; font-family: "Nanum Square", sans-serif; border-radius:1px;}
.memory .board-list .row-search .sltDiv {min-width:50px; width:25%; padding: 0; overflow: hidden;}
.memory .board-list .row-search .sltDiv:after {content: "▼"; position: absolute; right: 5px; top:0px; color: #acacac; pointer-events: none;}
.memory .board-list .row-search .category {position: absolute; left: 0; top: 0; padding-left:5px; width: 100%; border: 0; font-size: 12px; height: 100%; width: 100%;}
.memory .board-list .row-search .category:focus {width: 100%;}
.memory .board-list .row-search .category::-ms-expand{display:none;}
.memory .board-list .row-search .keword {min-width:100px; width:55%; margin: 0 1%; padding-left: 5px; text-align: left;}
.memory .board-list .row-search .btn-search {min-width:40px; width:15%; border-radius:3px; background: #efefef;}
.memory .board-list .search-box .row-btn {position: absolute; width:20%; right: 0; bottom: 1px}


/* memory read */
.read.memory .board-list {position: relative; width: 100%; border-top: 1px solid #3c3b3b;}
.read.memory .board-list .tbStyle {position: relative; width: 100%; border-top: 1px solid #c4c4c4; border-bottom: 2px solid #d9d9d9;}
.read.memory .board-list .tbStyle th {padding:9px 0px 10px; font-size:13px; text-align: center; color:#353535;}
.read.memory .board-list .tbStyle td {display:table-cell; min-height:auto; height:100%; padding:8px 0px 7px; font-size:12px; text-align: center; word-break:keep-all; line-height:auto;}
.read.memory .board-list .tbStyle td:first-child {text-align:left; padding-left:6px}
.read.memory .board-list .tbStyle thead tr {border-top: 1px solid #cfcfcf; border-bottom: 1px solid #b4b2b2; background: #f2f2f2;}
.read.memory .board-list .tbStyle tbody tr {border-bottom: 1px solid #b4b2b2;}
.read.memory .board-list .tbStyle tr.post td {text-align: left; padding:10px 15px 20px; font-size: 12px; line-height: 1.8;}
.read.memory .board-list .tbStyle tr.post td img.exImg {display: block; margin: 0 auto;}
.read.memory .board-list .row-btn > div {width:45%;}
.read.memory .board-list .row-btn .left {float: left;}
.read.memory .board-list .row-btn .right {float: right;}
.read.memory .board-list .row-btn .left [class*=btn-], .read.memory .board-list .row-btn .right [class*=btn-] {box-sizing:border-box; width:45%; height:27px; font-size:12px; line-height:27px;}
.read.memory .board-list .row-btn [class*=btn-]:first-child + button {margin-left:3px;}

/* memory write */
.write .board-list {position: relative; border-top: 1px solid #3c3b3b;}
.write .tbStyle {width: 100%;}
.write .tbStyle col.nth-1 {width: 20%;}
.write .tbStyle col.nth-2 {width: 80%;}
.write .tbStyle tbody tr th,
.write .tbStyle tbody tr td {vertical-align: middle; border-bottom: 1px solid #d9d9d9;}
.write .tbStyle tbody tr th {font-size:12px; text-align: center; color:#383838; background: #f2f2f2;}
.write .tbStyle tbody tr td {padding:4px 6px; font-size:12px; text-align:left}
.write.memory .tbStyle .appe-reset, .write.memory .tbStyle input[class*=w-] {padding-left:6px; border: 1px solid #d2d2d2; line-height:26px; height: 26px; box-sizing: border-box;}
.write.memory .tbStyle .appe-reset {padding-left:0;}
.write.memory .tbStyle input[class*=w-] {min-width:110px; width: 50%;}
.write.memory .tbStyle .w-1 {}
.write.memory .tbStyle .w-2 {}
.write.memory .tbStyle input.w-full {width:100%;}
.write.memory .tbStyle tbody tr td textarea {resize:none; overflow-y:scroll; width: 100%; height:160px; padding:10px 12px; font-size:12px; line-height:20px; word-break:keep-all; color: #383838; box-sizing: border-box; border:1px solid #c9c9c9;}
.write.memory .tbStyle .tr-secure .w-1 {display:inline-block; min-width:70px; width:34%; margin: 0 5px 0 2px;}
.write.memory .tbStyle .tr-secure .s-txt {display:inline; vertical-align:middle; font-size:10px}
.write.memory .tbStyle .tr-secure img {width:auto; height:31px;}
.write.memory .board-list .row-btn {margin-top:13px; text-align:center;}
.write.memory .board-list .row-btn [class*=btn-] {width:75px; height:26px; font-size:12px; line-height:26px;}
.write.memory .board-list .row-btn [class*=btn-]:first-child + button {margin-left:6px;}
.write.memory .board-list .row-cause {width:85%; margin:0 auto; margin-top:15px; font-size:11px; line-height:16px; word-break:keep-all; text-align: center; color: #383838;}


/* 글쓰기 파일박스 커스터마이징 */
.write .tr-file .row {position:relative; height:26px;}
.write .tr-file .row + .row {margin-top:6px}
.write .tr-file form {position:relative; height:100%;}
.write .filebox {position: relative; display: inline-block; width:100%;}
.write .filebox input[type="file"] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; clip:rect(0,0,0,0); border: 0;}
.write .filebox .upload-name {display: inline-block; float: left; box-sizing: border-box; height:26px; padding-left:6px; font-size: 12px; vertical-align: middle; color:#383838}
.write .filebox label, .write .filebox .appe-reset {cursor: pointer; display: inline-block; box-sizing: border-box; float: left; min-width: 49px; width:20%; height: 26px; margin-left:5px; padding-left:0; font-size: 11px; vertical-align: middle; line-height: 26px; text-align: center; color:#383838; border: 1px solid #c9c9c9; border-radius: 5px; background-color: #efefef; }
.write .filebox .upload-name {
  position: relative; padding-left:6px;
  color: #383838;
  text-align: left;
  line-height: 2.7em; vertical-align: top; background-color: #fff; border: 1px solid #c9c9c9;
  text-overflow: ellipsis;
  -webkit-appearance: none; 
  -moz-appearance: none; appearance: none;
}


/* 팝업 - 수정 시 패스워드 입력 */
.popWrapper#pwdWrapper {z-index:9991; display:none;}
.popWrapper,
.drop-bg {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0, 0.58);}
.popWrapper .pop-password {position: absolute; background: #fff; width: 308px; height: 180px; left: 50%; margin-left: -154px; top: 50%; margin-top: -90px; font-size: 15px; box-sizing: border-box; border: 1px solid #111;}
.popWrapper .pop-password .pop-header {}
.popWrapper .pop-password .pop-header h2 {background: #c9c9c9; font-size: 20px; text-align: center; padding: 10px 0;}
.popWrapper .pop-password .pop-header .btn-x {position: absolute; right: 0; top: 2px;display: inline-block; width: 42px; height: 42px;}
.popWrapper .pop-password .pop-body {padding: 28px 20px; text-align: center;}
.popWrapper .pop-password .pop-body .p-1 {text-align: center; letter-spacing: -0.7px;}
.popWrapper .pop-password .pop-body .row-inp {margin-top: 12px;}
.popWrapper .pop-password .pop-body .row-inp > * {height: 37px; display: inline-block; box-sizing: border-box; vertical-align: top; border: 1px solid #c9c9c9; font-size: 13px; color: #383838;}
.popWrapper .pop-password .pop-body .row-inp .pwd {padding: 0 5px; min-width: 110px;}
.popWrapper .pop-password .pop-body .row-inp .btn-ok {border-radius: 2px; padding: 0 25px; background: #efefef; min-width:50px;}