@charset "utf-8";


.board {}
.board-area {margin-top:74px; padding-bottom:100px;} 

/* list */
.board-list {position: relative; border-top: 1px solid #3c3b3b;}
.board-list .tbStyle {position: relative; width: 100%; font-size:18px; border-top: 1px solid #c4c4c4; border-bottom: 2px solid #d9d9d9;}
.board-list .tbStyle col.nth-1 {width: 15%;}
.board-list .tbStyle col.nth-2 {width: 64%;}
.board-list .tbStyle col.nth-3 {width: 21%;}
.board-list .tbStyle th {padding:14px 0px 17px; text-align: center;}
.board-list .tbStyle td {padding:14px 0px 12px; text-align: center;}
.board-list .tbStyle td a {display:block}
.board-list .tbStyle td.t-left {padding-left:12px; text-align:left}
.board-list .tbStyle thead tr {background: #f2f2f2;}
.board-list .tbStyle tbody tr {border-top: 1px solid #d9d9d9;}
.board-list .tbStyle tbody tr a {display: block;}
.board-list .page-box {position: relative; text-align: center; margin-top:46px;}
.board-list .pagenation {position: relative; text-align: center; font-size: 0;}
.board-list .pagenation a {display: inline-block; font-size: 14px; width: 34px; height: 34px; font-family:sans-serif; font-weight: 600; vertical-align: middle; line-height: 2.3em; color: #d2d2d2; border: 1px solid #d2d2d2; border-left: 0;}
.board-list .pagenation a[class*="prev"], .board-list .pagenation a[class*="next"] {font-size: 12px; line-height: 2.5em; letter-spacing: -2px;}
.board-list .pagenation a:hover, .board-list .pagenation a.on {background: #d2d2d2; color: #fff;}
.board-list .pagenation a.prev, .board-list .pagenation a.next {background: #d2d2d2; color: #595959;}
.board-list .pagenation a.prev {text-indent: -4px; margin-right:10px;}
.board-list .pagenation a.next {text-indent: 1px; margin-left:10px;}

/* read */
.read .board-list {position: relative; border-top: 1px solid #3c3b3b;}
.read .board-list .tbStyle {position: relative; width: 100%; font-size:18px; border-top: 1px solid #c4c4c4;}
.read .board-list .tbStyle th {padding:12px 53px 17px; font-size: 20px; text-align: left}
.read .board-list .tbStyle td {display:block; min-height:310px; height:100%; padding:36px 75px; word-break:keep-all; text-align:left; line-height:37px;}
.read .board-list .tbStyle td p {margin-top:18px;}
.read .board-list .tbStyle td p:first-child {margin-top:0;}
.read .board-list .tbStyle thead tr {border-top: 1px solid #cfcfcf; border-bottom: 1px solid #b4b2b2; background: #fff;}
.read .board-list .tbStyle tbody tr {border-bottom: 1px solid #b4b2b2;}
.read .board-list .tbStyle thead tr th .flt-r {float: right;}
.read .board-list .row-btn {margin-top:40px; text-align: center;}
.read .board-list .pagenation + .row-btn {margin-top: 0;}
.read .board-list .row-btn .btn-list {position: relative; display: inline-block; box-sizing: border-box; width:152px; height:43px; font-size: 20px; text-align:center; line-height:43px; color:#676767; border: 1px solid #bbb; border-radius: 3px;}


/* memory list */
.memory .board-list .tbStyle col.nth-1 {width: 10%;}
.memory .board-list .tbStyle col.nth-2 {width: 53%;}
.memory .board-list .tbStyle col.nth-3 {width: 11%;}
.memory .board-list .tbStyle col.nth-4 {width: 11%;}
.memory .board-list .tbStyle col.nth-5 {width: 10%;}
/*.memory .board-list .tbStyle td.t-left {padding-left:0;}*/
.memory .board-list .tbStyle .last {padding-right:40px}
.memory .board-list .tbStyle tr.reply td a {text-indent: 15px;}
.memory .board-list .tbStyle tr.reply td a .re {position: relative; top: -1px; display: inline-block; font-size: 15px; text-indent: 0; background: #898989; color: #fff; padding: 0 5px;}
.memory .board-list .row-btn [class*=btn-] {position: relative; display: inline-block; box-sizing: border-box; width:135px; height:48px; font-size: 20px; text-align:center; line-height:48px; color:#676767; border: 1px solid #bbb; border-radius: 3px; background:#fff}
.ie8 .memory .board-list .row-btn [class*=btn-] {padding:5px 0 8px; line-height:100%;}
.memory .board-list .pagenation + .row-btn .btn-write {position: absolute; right: 0; bottom: -8px;}
.memory .board-list .row-search {text-align: center;}
.memory .board-list .row-search {margin-top: 21px;}
.memory .board-list .row-search > * {position: relative; display: inline-block; height: 37px; border: 1px solid #c8c8c8; background: #fff; box-sizing: border-box; vertical-align: middle; padding: 0 5px; font-size: 16px; line-height:37px; font-family: "Nanum Square", sans-serif; vertical-align: top; border-radius: 2px;}
.memory .board-list .row-search .sltDiv {padding: 0; width: 120px; overflow: hidden;}
.memory .board-list .row-search .sltDiv:after {content: "▼"; position: absolute; right: 10px; top:0px; color: #acacac; pointer-events: none;}
.memory .board-list .row-search .sltDiv .sltArr {}
.memory .board-list .row-search .category {position: absolute; left: 0; top: 0; padding-left: 10px; width: 100%; border: 0; font-size: 16px; height: 100%; width: 120px;}
.memory .board-list .row-search .category:focus {width: 100%;}
.memory .board-list .row-search .category::-ms-expand{display:none;}
.ie8 .memory .board-list .row-search .category,
.ie9 .memory .board-list .row-search .category {width: 100%; height:auto; padding:7px 0 7px 10px;}
.ie8 .memory .board-list .row-search .sltDiv:after,
.ie9 .memory .board-list .row-search .sltDiv:after {display: none;}
.memory .board-list .row-search .keword {text-align: left; margin: 0 8px; padding-left: 10px; width: 200px;}
.memory .board-list .row-search .btn-search {padding: 0 30px; border-radius:2px; background: #efefef;}

/* memory read */
.read.memory .board-list .tbStyle th {padding:14px 0px 17px; text-align: center;}
.read.memory .board-list .tbStyle td {display:table-cell; min-height:auto; height:100%; padding:14px 0px 12px; text-align: center; word-break:keep-all;}
.read.memory .board-list .tbStyle td.t-left {text-align:left; padding-left:12px;}
.read.memory .board-list .tbStyle thead tr {border-top: 1px solid #cfcfcf; border-bottom: 1px solid #b4b2b2; background: #f2f2f2;}
.read.memory .board-list .tbStyle tbody tr {border-bottom: 1px solid #b4b2b2;}
.read.memory .board-list .tbStyle tr.post td {text-align: left; padding: 40px 60px 50px; font-size: 16px; line-height: 1.8;}
.read.memory .board-list .tbStyle tr.post td img.exImg {display: block; margin: 0 auto;}
.read.memory .board-list .row-btn .left {float: left;}
.read.memory .board-list .row-btn .right {float: right;}
.read.memory .board-list .row-btn .left [class*=btn-], .read.memory .board-list .row-btn .right [class*=btn-] {box-sizing:border-box; width:124px; height:44px; font-size:18px; line-height:44px;}
.ie8 .memory .board-list .row-btn .left [class*=btn-], .ie8 .read.memory .board-list .row-btn .right [class*=btn-] {padding:5px 0 8px; line-height:100%;}
.read.memory .board-list .row-btn [class*=btn-]:first-child + button {margin-left: 10px;}

/* memory write */
.write .tbStyle {width: 100%;}
.write .tbStyle col.nth-1 {width: 12%;}
.write .tbStyle col.nth-2 {width: 88%;}
.write .tbStyle tbody tr th,
.write .tbStyle tbody tr td {vertical-align: middle; border-bottom: 1px solid #d9d9d9;}
.write .tbStyle tbody tr th {font-size:18px; text-align: center; color:#383838; background: #f2f2f2;}
.write .tbStyle tbody tr td {padding: 12px 14px; font-size:16px; text-align:left}
.write .tbStyle .appe-reset, .write.memory .tbStyle input[class*=w-] {padding-left:10px; border: 1px solid #d2d2d2; line-height:32px; height: 32px; box-sizing: border-box;}
.write .tbStyle .appe-reset {padding-left:0;}
.write .tbStyle input[class*=w-] {width:173px; }
.write .tbStyle .w-1 {width: 203px;}
.write .tbStyle .w-2 {width: 240px;}
.write .tbStyle .w-full {width: 100%;}
.write .tbStyle tbody tr td textarea {resize:none; overflow-y:scroll; width: 100%; height: 320px; padding:24px 29px; font-size:15px; line-height:20px; word-break:keep-all; color: #383838; box-sizing: border-box; border:1px solid #c9c9c9;}
.write .tbStyle .tr-secure .w-1 {margin: 0 13px 0 19px;}
.write .tbStyle .tr-secure .s-txt {display:inline-block; vertical-align:middle}
.write .board-list .row-btn {margin-top:25px; text-align:center}
.write .board-list .row-btn [class*=btn-] {width:115px; height:38px; font-size:17px; line-height:38px;}
.ie8 .write .board-list .row-btn [class*=btn-] {padding:5px 0 8px; line-height:100%;}
.write .board-list .row-btn [class*=btn-]:first-child + button {margin-left:15px;}
.write .board-list .row-cause {margin-top:25px; font-size:14px; line-height:18px; text-align: center; color: #383838;}

/* 글쓰기 파일박스 커스터마이징 */
.write .tr-file .row {position:relative; height:32px;}
.write .tr-file .row + .row {margin-top:10px}
.write .tr-file form {position:relative; height:100%;}
.write .filebox {position: relative; display: inline-block;}
.write .filebox input[type="file"] {position: absolute; overflow: hidden; width: 1px; height: 1px; margin: -1px; padding: 0; clip:rect(0,0,0,0); border: 0;}
.write .filebox .upload-name {display: inline-block; float: left; box-sizing: border-box; height:32px; padding-left:10px; font-size: 14px; vertical-align: middle; color:#383838}
.write .filebox label, .write .filebox .appe-reset {cursor: pointer; display: inline-block; box-sizing: border-box; float: left; width: 71px; height: 32px; margin-left:5px; padding-left:0; font-size: 14px; vertical-align: middle; line-height: 32px; text-align: center; color:#383838; border: 1px solid #c9c9c9; border-radius: 5px; background-color: #efefef; }
.write .filebox .upload-name {
  position: relative; padding-left: 10px;
  color: #383838;
  text-align: left;
  line-height: 2.7em; vertical-align: top; background-color: #fff; border: 1px solid #c9c9c9;
  text-overflow: ellipsis;
  -webkit-appearance: none; 
  -moz-appearance: none; appearance: none;
}



/* 팝업 - 수정 시 패스워드 입력 */
.popWrapper#pwdWrapper {z-index:9991; display:none;}
.popWrapper,
.drop-bg {position: fixed; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0, 0.58);}
.popWrapper .pop-password {position: absolute; background: #fff; width: 308px; height: 180px; left: 50%; margin-left: -154px; top: 50%; margin-top: -90px; font-size: 16px; box-sizing: border-box; border: 1px solid #111;}
.popWrapper .pop-password .pop-header {}
.popWrapper .pop-password .pop-header h2 {background: #c9c9c9; font-size: 20px; text-align: center; padding: 10px 0;}
.popWrapper .pop-password .pop-header .btn-x {position: absolute; right: 0; top: 2px;display: inline-block; width: 42px; height: 42px;}
.popWrapper .pop-password .pop-body {padding: 28px 20px; text-align: center;}
.popWrapper .pop-password .pop-body .p-1 {text-align: center; letter-spacing: -0.7px;}
.popWrapper .pop-password .pop-body .row-inp {margin-top: 12px;}
.popWrapper .pop-password .pop-body .row-inp > * {height: 37px; display: inline-block; box-sizing: border-box; vertical-align: top; border: 1px solid #c9c9c9; font-size: 16px; color: #383838;}
.popWrapper .pop-password .pop-body .row-inp .pwd {padding: 0 5px; width: 160px;}
.popWrapper .pop-password .pop-body .row-inp .btn-ok {border-radius: 2px; padding: 0 25px; background: #efefef; min-width: 84px;}