@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {position: relative; box-sizing: border-box; min-width: 320px; max-width: 768px; width: 100%; margin: 0 auto; font-family: 'Noto Sans KR', 'Nanum Square', 'Nanum Gothic', 'Malgun Gothic', sans-serif; font-weight: 400; letter-spacing: -0.5px; color: #535353;}
input, textarea, label, button  {font-family: 'Noto Sans KR', 'Nanum Gothic', 'Malgun Gothic', sans-serif; font-weight:400; letter-spacing: -0.5px;}
img {max-width: 100%;}

/* 공통 */
.f-bd {font-weight: 700;}
.f-bdr {font-weight: 800;}
.c-blue {color: #008aff;}

/* 띠배너 */
/*.topbn-wrap {position: relative !important;}*/

/* header */
.header {z-index: 999; position: relative; box-sizing: border-box; width: 100%; margin: 0 auto; padding-top: 0 !important;}
.header .header-area {position: relative; box-sizing: border-box; width: 100%;}
.header.on .header-area {position: fixed; top: 0; left: 0;}
.header .header-box {position: relative; box-sizing: border-box; margin: 0 auto;}
.header .logo {position: relative; display: block; width: 100%; padding: 7px 0 6px; text-align: center; background: #2a2a2a;}
.header .logo a {position: relative; display: block; width: 28%; margin: 0 auto; color: #fff;}
.header .logo a img {width: 100%;}
.header .logo em {display: inline-block; margin-top: -3px; font-size: 23px; font-weight: 700; letter-spacing: -1px; line-height: 23px;}
.header .logo .logo-txt {display: inline-block; margin-left: 7px; font-size: 12px; line-height: 12px; font-weight: 700; letter-spacing: -1px;}
.header .logo .logo-txt span {display: block; margin: 1px 0 0 -6px; font-size: 10px; font-weight: 800; -webkit-transform: scale(0.9);}
.header .gnb {position: relative; box-sizing: border-box; width: 100%; margin: 0 auto; padding: 3px 12px 7px; text-align: center; background: #515151;}
.header .gnb .menu {display: inline-block; margin: 0 auto; text-align: left;}
.header .gnb .menu li {float: left;}
.header .gnb .menu li a {position: relative; display: block; padding: 0 6px 0 11px; font-size: 12px; font-weight: 500; line-height: 12px; color: #fff;}
.header .gnb .menu li:first-child a {padding-left: 0;}
.header .gnb .menu li:last-child a {padding-right: 0;}
.header .gnb .menu li.on a {color: #a7deff;}
.header .gnb .menu li a:before {content: ""; position: absolute; display: block; width: 5px; height: 5px; top: 50%; left: 0; margin-top: -2px; border-radius: 100%; background: #fff;}
.header .gnb .menu li:first-child a:before {content: none;}

/* footer */
.footer {position: relative; box-sizing: border-box; width: 100%; padding: 17px 0 18px; background: #575757;}
.footer .footer-area {position: relative;  margin: 0 auto; text-align: center; color: #fff;}
.footer .logo {display: block; width: 30%; margin: 0 auto;}
.footer .logo img {width: 100%;}
.footer .f-txt-box {}
.footer .f-txt-box p {font-size: 10px; line-height: 16px;}
.footer .f-txt-box p.p-0 {margin-top: 8px;}
.footer .f-txt-box address {font-size: 10px; line-height: 16px;}
.footer .f-txt-box address p {}
.footer .f-txt-box address small {letter-spacing: -0.1px;}

/*
  Main
 */
.Main section {position: relative; box-sizing: border-box; margin: 0 auto; padding: 20px 17px;}
.Main .contents .con-area {position: relative; box-sizing: border-box; margin: 0 auto;}
.Main .contents .con-tit {position: relative; box-sizing: border-box; margin: 0 auto 13px; padding-left: 10px; letter-spacing: -0.9px;}
.Main .contents .con-tit:before {content: ""; position: absolute; display: inline-block; width: 3px; height: 32px; top: 50%; left: 0; margin-top: -16px; background: #c0c0c0; vertical-align: middle;}
.Main .contents .con-tit .row-1 {font-size: 17px; font-weight: 500; line-height: 32px;}
.Main .contents .con-tit .sokcho {display: inline-block; margin-left: 2px; font-size: 12px; font-weight: 100;}
/* before가 없는 경우 */
.Main .contents .con-tit.no-line {padding-left: 0;}
.Main .contents .con-tit.no-line:before {content: none;}

/* 메인 비주얼 */
.Main section[class*="-sec"].visual-sec {position: relative; width: 100%; height: auto; padding: 0; background: rgba(0, 0, 0, 0.8);}
.Main .visual-sec .bg-visual {z-index: 1; }
.Main .visual-sec .slide {box-sizing: border-box; color: #fff; width: 100%; height: 100%; box-sizing: border-box;}
.Main .visual-sec .slide-1:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_01.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-2:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_02.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-3:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_03.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-4:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_04.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide:before {content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0;
	-webkit-transition: all 5.5s 0.1s;
	-ms-transition: all 5.5s 0.1s;
	-o-transition: all 5.5s 0.1s;
	transition: all 5.5s 0.1s;
}
.Main .visual-sec .visual-txt-box {z-index: 10; position: absolute; box-sizing: border-box; width: 100%; height: 100%; top: 0; left: 0; margin: 0 auto; margin-top: 0; text-align: center; color: #fff;}
.Main .visual-sec .visual-txt {position: relative; box-sizing: border-box; width: 100%; top: 50%; left: 0; margin: 0 auto; margin-top: -96px;}
.Main .visual-sec .visual-txt * {text-shadow: 3px 3px 4px rgba(10, 2, 4, 0.29);}
.Main .visual-sec .visual-txt p {position: relative;}
.Main .visual-sec .visual-txt h2 {position: relative; margin: 4px auto 15px; font-size: 46px; line-height: 46px; letter-spacing: -1px;}
.Main .visual-sec .visual-txt h2 span {display: inline;}
.Main .visual-sec .visual-txt .p-1 {font-size: 14px; line-height: 24px; letter-spacing: -1px;}
.Main .visual-sec .visual-txt .p-2 {display: inline-block; height: 20px; padding: 0 21px 0 23px; font-size: 10px; line-height: 20px; background: #343434;}
.Main .visual-sec .visual-txt .p-3 {margin-top: 9px; font-size: 13px; line-height: 18px;}

/* 해수욕장 소개 */
.Main .about-sec {}
.Main .about-sec .con-area {padding-bottom: 10px;}
.Main .about-sec .con-area .sub-tit {padding: 16px 0 6px; font-size: 17px; font-weight: 500; line-height: 20px; color: #343434;}
.Main .about-sec .con-area .con-txt {position: relative; clear: both; padding: 10px 0 5px; font-size: 12px; line-height: 15px; word-break: keep-all; color: #535353;}
.Main .about-sec .con-area .con-txt.type01 {float: left; box-sizing: border-box; width: 46%; padding-right: 12px;}
.Main .about-sec .con-area .fimg {position: relative; box-sizing: border-box; display: inline-block; margin-top: 15px;}
.Main .about-sec .con-area .fimg img {width: 100%;}
.Main .about-sec .con-area .full {width: 100%; margin-top: 0;}
.Main .about-sec .con-area .img01 {float: right; width: 54%; margin-top: 8px;}
.Main .about-sec .con-area .img02 {float: left; width: 46%; padding-right: 2.5%;}
.Main .about-sec .con-area .img03 {float: right; width: 53%;}

/* 주변관광 안내 */
.Main .tour-sec {background: #f6f6f6;}
.Main .tour-sec .area {}
.Main .tour-sec .area .h4-tit {position: relative; font-size: 15px; margin-top: 5px;}
.Main .tour-sec .area .h4-tit:before {content: ""; display: inline-block; width: 5px; height: 14px; background: #c0c0c0; vertical-align: middle; margin-right: 4px;}
.Main .tour-sec .tourist-box .area:first-child .h4-tit {margin-top: 10px;}
.Main .tour-sec .area .list > li {float: left; width: 48.6%; margin: 5px 0 10px 2.4%; overflow: hidden;}
.Main .tour-sec .area .list > li figure {border: 1px solid #a9a7a8; box-sizing: border-box;}
.Main .tour-sec .area .list > li figure img {width: 100%;}
.Main .tour-sec .area .list > li:nth-child(2n-1) {margin-left: 0;}
.Main .tour-sec .area .list > .link-tour {cursor:pointer}
.Main .tour-sec .area .list > li dl {margin-top: 7px; letter-spacing: -0.9px;}
.Main .tour-sec .area .list > li dl dt {font-size: 12px; color: 0; padding-bottom: 5px; margin-bottom: 7px; border-bottom: 1px solid #c8c8c8; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.Main .tour-sec .area .list > li dl dt h5 {margin-bottom: 4px; font-size: 14px; color: #008ead; font-weight: 700;}
.Main .tour-sec .area .list > li dl dd {font-size: 12px; color: #4c4c4c; line-height: 1.4; word-break: keep-all;}

/* 고성8경 / 속초8경 */
.Main .view-sec {}
.Main .view-sec .con-area {}
.Main .view-sec .con-area + .con-tit {margin-top: 30px;}
.Main .view-sec .con-area .gs-list {}
.Main .view-sec .con-area .gs-list li {position: relative; box-sizing: border-box; float: left; width: 48.5%; margin-bottom: 4%; border: 1px solid #e4e4e4;}
.Main .view-sec .con-area .gs-list li:nth-child(2n) {float: right;}
.Main .view-sec .con-area .gs-list .img-box {position: relative; width: 100%;}
.Main .view-sec .con-area .gs-list .img-box img {position: relative; width: 100%;}
.Main .view-sec .con-area .gs-list .txt-box {position: relative; box-sizing: border-box; min-height: 100px; padding: 10px 8px 12px; color: #535353;}
.Main .view-sec .con-area .gs-list .txt-box p {word-break: keep-all; letter-spacing: -0.7px;}
.Main .view-sec .con-area .gs-list .txt-box .tit {margin-bottom: 0; font-size: 14px; font-weight: 500; line-height: 18px;}
.Main .view-sec .con-area .gs-list .txt-box .adr {padding: 5px 0 6px; font-size: 12px; line-height: 16px; color: #808080;}
.Main .view-sec .con-area .gs-list .txt-box .txt {font-size: 12px; line-height: 16px;}

/* 오시는길 */
.Main .waycome-sec {}
/* 지도 이미지 */
.Main .waycome-sec .map-box {position: relative;}
.Main .waycome-sec .map-box .wap-map a {position: relative; display: block; box-sizing: border-box; overflow: hidden; border:1px solid #bbb;}
.Main .waycome-sec .map-box .wap-map a img {width: 100%;}
/* 지도 텍스트 */
.Main .waycome-sec .way-info {position: relative; margin-top: 25px;}
.Main .waycome-sec .way-info dl {color: #434343; margin-bottom: 18px;}
.Main .waycome-sec .way-info .way-tit, .Main .waycome-sec .way-info .way-txt {position: relative; padding-left: 12px;}
.Main .waycome-sec .way-info .way-tit {font-size: 15px; font-weight: 500; line-height: 18px;}
.Main .waycome-sec .way-info .way-tit:before {content: ""; display: block; position: absolute; width: 5px; height: 15px; top: 50%; left: 0; margin-top: -7px; vertical-align: middle; background: #c0c0c0;}
.Main .waycome-sec .way-info .way-txt {padding-top: 2px;}
.Main .waycome-sec .way-info .way-txt p {font-size: 13px; line-height: 20px;}
.Main .waycome-sec .way-info .way-txt .way-sub-tit {margin-top: 5px; font-weight: 500;}
.Main .waycome-sec .way-info .way-txt .dot {position: relative; margin-top: 1px; padding-left: 8px;}
.Main .waycome-sec .way-info .way-txt .way-sub-tit + .dot {margin-top: 0;}
.Main .waycome-sec .way-info .way-txt .dot:before {content:''; display: block; position: absolute; width: 3px; height: 1px; top: 9px; left: 2px; background: #434343;}
.Main .waycome-sec .way-info .btn-box {margin-top: 15px; text-align: center;}
.Main .waycome-sec .way-info .btn-box a {display: inline-block; width: 135px;}
.Main .waycome-sec .way-info .btn-box a:first-child {margin-right: 5px;}

/*
  Board
 */
/* 게시판 비주얼 영역 */
.Board .subVisual {position: relative; box-sizing: border-box; width: 100%; margin: 0 auto; padding: 40px 15px 38px; text-align:center; color:#fff; background: url(http://img.songjihobeach.co.kr/common/bg_sub_top.jpg) no-repeat center center; background-size: cover;}
.Board .subVisual .mainTxt {position: relative; display: inline-block; margin: 0 auto; padding: 13px 0 13px 27px; text-align: left; background:url(http://img.songjihobeach.co.kr/m/common/bg_top_box.png) no-repeat 0 center; background-size: auto 100%;}
.Board .subVisual .mainTxt * {text-shadow: 3px 3px 2px rgba(0,0,0, .25); letter-spacing: -0.7px;}
.Board .subVisual .mainTxt h2 {font-size:23px; font-weight:500; line-height:23px;}
.Board .subVisual .mainTxt .p-2 {margin-top: 3px; font-size: 10px; -webkit-transform: scale(0.9);}

/* 게시판 */
.Board .con-sec {position: relative; padding: 35px 15px 45px;}
/* 게시판 tit */
.Board .con-sec .con-tit {position: relative; margin-bottom: 20px; line-height: 17px;}
.Board .con-sec .con-tit span {position: relative; display: inline-block;}
.Board .con-sec .con-tit .row-1 {font-size: 17px; font-weight: 500; color: #343434;}
.Board .con-sec .con-tit .sokcho {margin-left: 4px; font-size: 12px; font-weight: 100; color: #4e4e4e;}

/* 게시판 list */
.Board .board-area {position: relative; box-sizing: border-box; min-height: 300px; width: 100%; margin: 0 auto;}
.Board .board-area .tb-list {position: relative; width: 100%; font-size: 12px; table-layout: fixed;}
.Board .board-area .tb-list col.nth-1 {width: 75%;}
.Board .board-area .tb-list col.nth-2 {width: 25%;}
.Board .board-area .tb-list th, .Board .board-area .tb-list td {padding: 10px 0px; text-align: center;}
.Board .board-area .tb-list td {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
.Board .board-area .tb-list td:nth-child(1) {text-align: left; padding-left: 5px;}
.Board .board-area .tb-list tr.reply td a {text-indent: 15px;}
.Board .board-area .tb-list tr.reply td a .re {position: relative; display: inline-block; font-size: 12px; text-indent: 0; background: #898989; color: #fff; padding: 0 5px;}
.Board .board-area .tb-list thead tr {background: #f2f2f2; border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-list tbody tr {border-bottom: 1px solid #d9d9d9;}
/* page number */
.Board .board-area .pagenation {text-align: center; font-size: 0; margin-top: 20px;}
.Board .board-area .pagenation a {display: inline-block; font-size: 12px; width: 24px; height: 24px; vertical-align: middle; line-height: 2em; border: 1px solid #d9d9d9; border-left: 0; color: #d2d2d2; font-family: "Nanum Gothic"; font-weight: 600; }
.Board .board-area .pagenation a:nth-child(2) {border: 1px solid #d9d9d9;}
.Board .board-area .pagenation a[class*="prev"], .Board .board-area .pagenation a[class*="next"] {font-size: 10px; line-height: 2.3em; letter-spacing: -2px;}
.Board .board-area .pagenation a:hover, .Board .board-area .pagenation a.on {background: #d2d2d2; color: #fff;}
.Board .board-area .pagenation a.prev, .Board .board-area .pagenation a.next {background: #d2d2d2; color: #595959;}
.Board .board-area .pagenation a.prev {text-indent: -4px; margin-right: 5px;}
.Board .board-area .pagenation a.next {text-indent: 1px; margin-left: 5px;}
/* btn */
.Board .board-area .area-1 [class*=btn-] {background: #fff; border: 1px solid #b0b0b0; line-height: 1; padding: 7px 14px; border-radius: 30px; font-size: 13px; color: #676767; letter-spacing: -1px; min-width: 68px;}
.Board .board-area .area-1 [class*=btn-]:first-child + button {margin-left: 1px;}
.Board .board-area .area-1 .row-btn {}
.Board .board-area .area-1 .row-btn .left {float: left;}
.Board .board-area .area-1 .row-btn .right {float: right;}
/* search */
.Board .board-area .row-search {margin-top: 20px; text-align: center;}
.Board .board-area .row-search > * {position: relative; display: inline-block; height: 32px; border: 1px solid #c8c8c8; background: #fff; box-sizing: border-box; vertical-align: middle; padding: 0 5px; font-size: 12.5px; line-height: 1; font-family: "NanumSquare", sans-serif; vertical-align: top; border-radius: 2px; color: #383838;}
.Board .board-area .row-search .sltDiv {padding: 0; width: 70px; overflow: hidden;}
.Board .board-area .row-search .sltDiv:after {content: "▼"; position: absolute; right: 5px; top: 9px; color: #acacac; pointer-events: none;}
.Board .board-area .row-search .sltDiv .sltArr {}
.Board .board-area .row-search .category {position: absolute; left: 0; top: 0; padding-left: 5px; width: 100%; border: 0; font-size: 13px; height: 100%; width: 150px; color: #383838; background: #fff;}
.Board .board-area .row-search .category:focus {width: 100%;}
.Board .board-area .row-search .category::-ms-expand{display:none;}
.Board .board-area .row-search .keword {text-align: left; margin: 0 2px; padding-left: 10px; width: 90px;}
.Board .board-area .row-search .btn-search {padding: 0 12px; border-radius: 5px; background: #efefef;}
.Board .board-area .row-search .btn-write {border-radius: 3px; padding: 0 14px; margin-left: 3px;}

/* 게시판 read */
.Board .board-area .tb-list tr.post td {text-align: left; padding: 10px; font-size: 12.5px; line-height: 1.6;}
.Board .board-area .tb-list tr.post td img.exImg {display: block; margin: 0 auto;}
.Board .board-area .tb-read {}
.Board .board-area .tb-read th {padding: 10px 10px; font-size: 12.5px;}
.Board .board-area .tb-read td {padding: 10px; font-size: 12.5px; line-height: 1.6; word-break: keep-all;}
.Board .board-area .tb-read thead tr {border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9; background: #f2f2f2;}
.Board .board-area .tb-read tbody tr {border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-read thead tr th .flt-r {float: right; margin-left: 5px;}
.Board .board-area .row-btn {margin-top: 20px; text-align: center;}
/*.Board .board-area .row-btn .btn-list {display: inline-block; font-size: 13px; border: 1px solid #d9d9d9; border-radius: 25px; padding: 5px 30px;}*/

/* 게시판 write */
.Board .board-area .tb-write {width: 100%; border-top: 1px solid #3d3d3d; margin-top: 0px;}
.Board .board-area .tb-write col.nth-1 {width: 20%;}
.Board .board-area .tb-write col.nth-2 {width: 80%;}
.Board .board-area .tb-write tbody tr th,
.Board .board-area .tb-write tbody tr td {vertical-align: middle; border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-write tbody tr th {font-size: 13px; background: #F2F2F2; text-align: center;}
.Board .board-area .tb-write tbody tr td {font-size: 12.5px; padding: 8px 5px;}
.Board .board-area .tb-write tbody .tr-file td .row + .row {margin-top: 10px;}
.Board .board-area .tb-write .appe-reset,
.Board .board-area .tb-write input[class*=w-] {border: 1px solid #c9c9c9; height: 32px; box-sizing: border-box;}
.Board .board-area .tb-write .w-1 {width: 100px;}
.Board .board-area .tb-write .w-2 {width: 100px;}
.Board .board-area .tb-write .w-full {width: 100%;}
.Board .board-area .tb-write tbody tr td textarea {width: 100%; height: 380px; padding: 10px; font-size: 12.5px; font-family: "NanumSquare", sans-serif; line-height: 1.5; resize: none; color: #383838; box-sizing: border-box; border-color: #c9c9c9;}
.Board .board-area .tb-write .inp-reset {background: #efefef; border-radius: 5px; vertical-align: top; height: 32px; width: 58px; font-size: 12px; color: #383838; margin-left: 2px; cursor: pointer; display: none; line-height: 32px;}
.Board .board-area .tb-write .tr-secure img {width: 68px;}
.Board .board-area .tb-write .tr-secure .w-1 {margin: 0 2px; padding-left: 5px; width: 70px;}
.Board .board-area .tb-write .tr-secure .s-1 {/*display: block;*/ font-size: 11px; letter-spacing: -0.7px;}
.Board .board-area .row-cause {text-align: center; margin-top: 15px; font-size: 12px; word-break: keep-all; letter-spacing: -0.9px;}

/* 수정 시 팝업 */
.popWrapper#pwdWrapper {display: none;}
.popWrapper,
.drop-bg {position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.drop-bg {background: rgba(0,0,0, 0.58);}
.popWrapper .pop-password {position: absolute; background: #fff; width: 250px; left: 50%; margin-left: -125px; top: 50%; margin-top: -71px; font-size: 16px; box-sizing: border-box; border: 1px solid #111;}
.popWrapper .pop-password .pop-header {}
.popWrapper .pop-password .pop-header h2 {background: #c9c9c9; font-size: 16px; text-align: center; padding: 10px 0;}
.popWrapper .pop-password .pop-header .btn-x {position: absolute; right: 0; top: 2px;display: inline-block; width: 32px; height: 40px;}
.popWrapper .pop-password .pop-header .btn-x .a-x {top: 7px; right: 5px;}
.popWrapper .pop-password .pop-header .btn-x .a-x:before, .popWrapper .pop-password .pop-header .btn-x .a-x:after {width: 17px;}
.popWrapper .pop-password .pop-body {padding: 20px 20px; text-align: center; font-size: 13px;}
.popWrapper .pop-password .pop-body .p-1 {text-align: center; letter-spacing: -0.7px;}
.popWrapper .pop-password .pop-body .row-inp {margin-top: 12px;}
.popWrapper .pop-password .pop-body .row-inp > * {height: 32px; display: inline-block; box-sizing: border-box; vertical-align: top; border: 1px solid #c9c9c9; font-size: 13px; color: #383838;}
.popWrapper .pop-password .pop-body .row-inp .pwd {padding: 0 5px; width: 110px;}
.popWrapper .pop-password .pop-body .row-inp .btn-ok {border-radius: 5px; padding: 0 15px; background: #efefef; min-width: 54px; margin-left: 2px;}

/* 파일박스 커스터마이징 */
.filebox {position: relative; display: inline-block;}
.filebox input[type="file"] {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;
}
.filebox label, .filebox .upload-name {display: inline-block; box-sizing: border-box; font-size: 12px; height: 32px;}
.filebox label {
  width: 58px; text-align: center; margin-left: 2px; border-radius: 5px; line-height: 32px;
  background-color: #efefef; cursor: pointer; border: 1px solid #c9c9c9;
}
/* named upload */
.filebox .upload-name {
  position: relative; padding-left: 5px;
  color: #999;
  text-align: left;
  line-height: 2.7em; vertical-align: top; background-color: #fff; border: 1px solid #c9c9c9;
  text-overflow: ellipsis;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none; appearance: none;
}



@media (max-device-width: 320px) {
    /* header */
    .header .gnb {padding: 1px 12px 6px;}
    .header .gnb .menu li a {padding: 0 4px 0 8px; font-size: 11px; line-height: 11px;}
    .header .gnb .menu li a:before {width: 4px; height: 4px; margin-top: -1px;}

    /* 고성8경 / 속초8경 */
    .Main .view-sec .con-area .gs-list .txt-box {padding: 8px 5px 10px;}
    .Main .view-sec .con-area .gs-list .txt-box .tit {font-size: 13px; line-height: 16px;}
    
    /* 게시판 write */
    .Board .board-area .tb-write .w-2 {width: 96px;}
    .Board .board-area .tb-write .tr-secure .s-1 {font-size: 10px;}
}
