@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css);
@import url(http://static.nurifunding.co.kr/fonts/NanumBarunGothic/nanumbarungothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

body {min-width: 1180; font-family: 'Noto Sans KR', 'Nanum Square', 'Nanum Gothic', 'Malgun Gothic', sans-serif; font-weight: 400; letter-spacing: -0.5px; color: #535353;}
input, textarea, label, button  {font-family: 'Noto Sans KR', 'Nanum Square', 'Nanum Gothic', 'Malgun Gothic', sans-serif; font-weight: 400; letter-spacing: -0.5px;}
img {max-width: 100%;}

/* font */
.f-bd {font-weight: 700;}
.f-bdr {font-weight: 800;}
.c-blue {color:#008aff}

/* 띠배너 */
.topbn-wrap {position: relative !important;}

/* header */
.header {z-index: 999; position: relative; box-sizing: border-box; width: 100%; margin-top: 0 !important; padding-top: 0 !important;}
.header .header-area {position: relative; box-sizing: border-box; width: 100%; background: #343434;}
.header.on .header-area {position: fixed; top: 0; left: 0;}
.header .header-box {position: relative; box-sizing: border-box; width: 1180px; margin: 0 auto; padding: 15px 0 16px;}
.header .logo {float: left; margin-left: 54px;}
.header .logo a {position: relative; display: block;}
.header .logo .logo-txt {display: inline-block; margin-left: 15px; font-size: 16px; line-height: 16px; font-weight: 700; letter-spacing: -1px;}
.header .logo .logo-txt span {display: block; font-size: 11px; font-weight: 800;}
.header .gnb {float: right; margin-top: 15px;}
.header .gnb .menu {}
.header .gnb .menu li {float: left;}
.header .gnb .menu li a {position: relative; display: block; padding: 0 11px 0 18px; font-size: 18px; font-weight: 700; line-height: 18px; color: #fff;}
.header .gnb .menu li.on a, .header .gnb .menu li a:hover {color: #a7deff;}
.header .gnb .menu li a:before {content: ""; position: absolute; display: block; width: 7px; height: 7px; top:50%; left: 0; margin-top: -4px; border-radius: 100%; background: #fff;}
.header .gnb .menu li:first-child a:before {content: none;}

/* footer */
.footer {position: relative; box-sizing: border-box; width: 100%; padding: 60px 0 56px; background: #575757;}
.footer .footer-area {position: relative; margin: 0 auto; text-align: center; color: #fff;}
.footer .logo {display: block;}
.footer .f-txt-box {}
.footer .f-txt-box p {font-size: 15px; line-height: 24px;}
.footer .f-txt-box p.p-0 {margin-top: 10px;}
.footer .f-txt-box address {font-size: 15px; line-height: 24px;}
.footer .f-txt-box address p {}
.footer .f-txt-box address small {font-size: 13px;}

/*
  Main
 */
/* contents */
.Main .contents section[class*="-sec"] {position: relative; box-sizing: border-box; margin: 0 auto;}
.Main .contents .con-area {position: relative; box-sizing: border-box; width: 1180px; margin: 0 auto;}
.Main .contents .con-tit {position: relative; box-sizing: border-box; width: 1180px; margin: 0 auto; padding-left: 22px; letter-spacing: -0.9px;}
.Main .contents .con-tit:before {content: ""; position: absolute; left: 0; display: inline-block; width: 7px; height: 73px; background: #c0c0c0; vertical-align: middle; margin-right: 10px;}
.Main .contents .con-tit span {display: block; height: 73px; font-size: 35px; font-weight: 600; line-height: 73px;}
.Main .contents .con-tit .sokcho {display: inline-block; margin-left: 3px; font-size: 24px; font-weight: 100; text-indent: 2px; color: #4e4e4e;}
/* before가 없는 경우 */
.Main .contents .con-tit.no-line {padding-left: 0;}
.Main .contents .con-tit.no-line:before {content: none;}
/* sokcho가 위로. 텍스트 2줄 */
/*.Main .contents .con-tit.type-2 {}
.Main .contents .con-tit.type-2 .row-1 {padding-top: 30px; height: 43px; line-height: 43px;}
.Main .contents .con-tit.type-2 .sokcho {position: absolute; top: 0; left: 20px; height: 30px; line-height: 30px;}*/

/* 메인 비주얼 */
.Main .visual-sec {background: rgba(0, 0, 0, 0.8);}
.Main .visual-sec .bg-visual {z-index: 1;}
.Main .visual-sec .slide {box-sizing: border-box; color: #fff; width: 100%; height: 100%; box-sizing: border-box;}
.Main .visual-sec .slide-1:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_01.jpg) no-repeat center; background-size: cover;}
.Main .visual-sec .slide-2:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_02.jpg)  no-repeat center; background-size: cover;}
.Main .visual-sec .slide-3:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_03.jpg)  no-repeat center; background-size: cover;}
.Main .visual-sec .slide-4:before {background: #eee url(http://img.songjihobeach.co.kr/main/banner_04.jpg)  no-repeat center; background-size: cover;}
.Main .visual-sec .slide:before {content: ""; display: block; position: absolute; width: 100%; height: 100%; left: 0; top: 0;
	-webkit-transition: all 5.5s 0.1s;
	-ms-transition: all 5.5s 0.1s;
	-o-transition: all 5.5s 0.1s;
	transition: all 5.5s 0.1s;
}
.Main .visual-sec .visual-txt-box {z-index: 10; position: absolute; box-sizing: border-box; width: 100%; height: 100%; top: 0; left: 0; margin: 0 auto; margin-top: 0; text-align: center; color: #fff;}
.Main .visual-sec .visual-txt {position: relative; box-sizing: border-box; width: 100%; top: 50%; left: 0; margin: 0 auto; margin-top: -150px;}
.Main .visual-sec .visual-txt p {position: relative;}
.Main .visual-sec .visual-txt * {text-shadow: 3px 3px 4px rgba(10, 2, 4, 0.29);}
.Main .visual-sec .visual-txt h2 {position: relative; margin: 15px auto 20px; font-size: 74px; line-height: 74px; letter-spacing: -1px;}
.Main .visual-sec .visual-txt .p-1 {font-size: 24px; font-weight: 700; line-height: 24px; letter-spacing: -1px;}
.Main .visual-sec .visual-txt .p-2 {display: inline-block; min-width: 260px; height: 32px; padding: 0 15px 0 18px; font-size: 18px; line-height: 32px; font-weight: 700; background: #343434;}
.Main .visual-sec .visual-txt .p-3 {margin-top: 28px; font-size: 24px; line-height: 34px;}
/* 날씨 */
.Main .visual-sec .weather {z-index: 99; position: absolute; width: 1180px; top: 75px; left: 50%; margin-left: -600px;}
.Main .visual-sec .weather .area {position: absolute; right: 5px; height: 96px; padding-left: 20px; box-sizing: border-box;}
.Main .visual-sec .weather .area [class*=s-] {display: block; color: #fff; font-size: 20px;}
.Main .visual-sec .weather .area .inner,
.Main .visual-sec .weather .area img {position: relative; float: right;}
.Main .visual-sec .weather .area .inner {}
.Main .visual-sec .weather .area .s-1 {line-height: 1;}
.Main .visual-sec .weather .area .s-2 {margin-top: 3px; font-weight: 700;}
.Main .visual-sec .weather .area .s-2 .t-1 {position: relative; top: -1px;}
.Main .visual-sec .weather .area .s-3 {font-size: 30px;}
.Main .visual-sec .weather .area .s-3 .big {font-size: 44px;}
.Main .visual-sec .weather .area .s-3 .c {font-family: "Noto Sans KR";}

/* 해수욕장 소개 */
.Main .about-sec {padding: 45px 0 165px; background: url(http://img.songjihobeach.co.kr/about/bg_about.jpg) no-repeat center center; background-size: cover;}
.Main .about-sec .con-area .sub-tit {padding: 50px 0 15px; font-size: 35px; font-weight: 500; line-height: 45px; color: #343434}
.Main .about-sec .con-area .con-txt {padding: 35px 0 0 4px; font-size: 23px; line-height: 1.4;}
.Main .about-sec .con-area .fimg {display: block;}
.Main .about-sec .con-area .fimg img {width: 100%;}
.Main .about-sec .con-area .fimg.full {margin-top: 40px;}
.Main .about-sec .con-area .fimg[class*='img0'] {width: 48%;}
.Main .about-sec .con-area .img01 {float: right; margin-top: -375px;}
.Main .about-sec .con-area .img02 {margin-top: 90px;}
.Main .about-sec .con-area .img03 {position: absolute; right: 0; bottom: 0}
.ie8 .Main .about-sec {filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://img.songjihobeach.co.kr/about/bg_about.jpg', sizingMethod='scale');}

/* 주변관광지 */
.Main .tour-sec {padding: 112px 0 50px; background: #f6f6f6;}
.Main .tour-sec .con-area {margin-top: 20px;}
.Main .tour-sec .area {}
.Main .tour-sec .area .h4-tit {position: relative; font-size: 26px; margin: 30px 0 15px;}
.Main .tour-sec .area .h4-tit > * {vertical-align: top;}
.Main .tour-sec .area .h4-tit .sokcho {text-transform: uppercase; font-size: 16px; display: inline-block; text-indent: 2px; margin-top: 5px;}
.Main .tour-sec .area .h4-tit:before {content: ""; display: inline-block; width: 10px; height: 25px; background: #c0c0c0; vertical-align: middle; margin-right: 10px;}
.Main .tour-sec .area .list + .list {margin-top: 20px;}
.Main .tour-sec .area .list > li {float: left; width: 280px; margin-left: 20px; overflow: hidden;}
.Main .tour-sec .area .list > li:first-child {margin-left: 0;}
.Main .tour-sec .area .list > .link-tour {cursor:pointer}
.Main .tour-sec .area .list > li .tour-img {border: 1px solid #a19e9f; width: 280px; height: 160px; box-sizing: border-box;}
.Main .tour-sec .area .list > li dl {margin-top: 15px; letter-spacing: -0.9px;}
.Main .tour-sec .area .list > li dl dt {font-size: 15px; color: 0; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #c8c8c8; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
.Main .tour-sec .area .list > li dl dt h5 {margin-bottom: 4px; font-size: 22px; color: #008ead; font-weight: 700;}
.Main .tour-sec .area .list > li dl dd {font-size: 16px; color: #4c4c4c; line-height: 1.7;}

/* 고성8경 / 속초8경 */
.Main .view-sec {padding: 55px 0 10px;}
.Main .view-sec .con-area {position: relative; margin: 0 auto; margin-top: 64px;}
.Main .view-sec .con-area + .con-tit {margin-top: 100px}
.Main .view-sec .con-area .gs-list {}
.Main .view-sec .con-area .gs-list li {position: relative; box-sizing: border-box; float: left; width: 570px; margin-left: 25px; margin-bottom: 25px; border: 1px solid #e4e4e4}
.Main .view-sec .con-area .gs-list .ml-0 {margin-left: 0}
.Main .view-sec .con-area .gs-list .img-box {position: relative; overflow: hidden; width: 100%; height: 307px;}
.Main .view-sec .con-area .gs-list .img-box img {width: 100%;}
.Main .view-sec .con-area .gs-list .img-box {position: relative; width:100%;}
.Main .view-sec .con-area .gs-list .txt-box {position: relative; box-sizing: border-box; height: 260px; padding: 38px 30px 37px; color: #535353}
.Main .view-sec .con-area .gs-list .txt-box p {word-break: keep-all}
.Main .view-sec .con-area .gs-list .txt-box .tit {font-size: 30px; font-weight: 500; line-height: 34px;}
.Main .view-sec .con-area .gs-list .txt-box .adr {margin-left: 4px; padding: 19px 0 16px; font-size: 20px; line-height: 24px; color: #808080}
.Main .view-sec .con-area .gs-list .txt-box .txt {margin-left: 4px; font-size: 24px; line-height: 30px;}

/* 오시는 길 */
.Main .waycome-sec {padding: 50px 0 93px;}
.Main .waycome-sec .con-area {height: 630px; padding-top: 44px;}
/* 지도 이미지 */
.Main .waycome-sec .con-area .map-box {position: relative; box-sizing: border-box; float: left; width: 575px; height: 100%; padding-top: 1px;}
.Main .waycome-sec .con-area .map-box .wap-map {position: relative; display: block; width: 100%; height: 100%;}
.Main .waycome-sec .con-area .map-box .wap-map a {position: relative; overflow: hidden; display: block; width: 100%; height: 100%; border: 1px solid #d5d3d4;}
.Main .waycome-sec .con-area .map-box .wap-map a img {width: 100%;}
/* 지도 텍스트 */
.Main .waycome-sec .con-area .way-info {position: relative; float: right; width: 565px; height: 100%; margin-left: 40px;}
.Main .waycome-sec .con-area .way-info dl {color: #434343; margin-bottom: 30px}
.Main .waycome-sec .con-area .way-info .way-tit, .waycome-sec .con-area .way-info .way-txt, .waycome-sec .con-area .btn-box {position: relative; padding-left: 20px;}
.Main .waycome-sec .con-area .way-info .way-tit {font-size: 26px; font-weight: 500; line-height: 26px;}
.Main .waycome-sec .con-area .way-info .way-tit:before {content: ""; position: absolute; display: inline-block; width: 10px; height: 25px; top: 50%; left: 0; margin-top: -12px; vertical-align: middle; background: #c0c0c0;}
.Main .waycome-sec .con-area .way-info .way-txt {}
.Main .waycome-sec .con-area .way-info .way-txt + .way-txt {padding-top: 2px;}
.Main .waycome-sec .con-area .way-info .way-txt p {font-size: 20px; line-height: 32px;}
.Main .waycome-sec .con-area .way-info .way-txt .way-sub-tit {margin-top: 15px; font-weight: 500;}
.Main .waycome-sec .con-area .way-info .way-txt .dot {position: relative; margin-top: 10px; padding-left: 10px}
.Main .waycome-sec .con-area .way-info .way-txt .dot:before {content: ''; display: block; position: absolute; width: 5px; height: 1px; top: 16px; left: 0; background: #434343}
.Main .waycome-sec .con-area .way-info .way-txt .way-sub-tit + .dot {margin-top: 0;}
.Main .waycome-sec .con-area .way-info .way-txt .dot + .dot {margin-top: 3px;}
.Main .waycome-sec .con-area .btn-box {position: absolute; bottom: 0;}
.Main .waycome-sec .con-area .btn-box a {display: inline-block; float: left;}
.Main .waycome-sec .con-area .btn-box .btn-naver {}
.Main .waycome-sec .con-area .btn-box .btn-daum {margin-left: 12px;}

/*
  Board
 */
/* 게시판 비주얼 영역 */
.Board .subVisual {position: relative; width: 100%; margin: 0 auto; padding: 68px 0 65px 0;  text-align: center; color: #fff; background: url(http://img.songjihobeach.co.kr/common/bg_sub_top.jpg) no-repeat center center; background-size: cover;}
.Board .subVisual .mainTxt {position: relative; display: inline-block; margin: 0 auto; padding: 30px 0 35px 60px; text-align: left; background: url(http://img.songjihobeach.co.kr/common/bg_top_box.png) no-repeat 0 0;}
.Board .subVisual .mainTxt h2 {font-size: 60px; font-weight: 500; line-height: 60px;}
.Board .subVisual .mainTxt .p-2 {margin: 11px 0 0 5px; font-size: 23px; line-height: 23px;}

/* 게시판 */
.Board .con-sec {position: relative;}
/* 게시판 tit */
.Board .con-sec .con-tit {position: relative; width: 1000px; margin: 0 auto; padding: 80px 0 0; line-height: 35px;}
.Board .con-sec .con-tit span {position: relative; display: inline-block;}
.Board .con-sec .con-tit .row-1 {font-size: 35px; font-weight: 500; color: #343434}
.Board .con-sec .con-tit .sokcho {margin-left: 10px; font-size: 24px; font-weight: 100; color: #4e4e4e;}

/* 게시판 list */
.Board .board-area {position: relative; box-sizing: border-box; min-height: 500px; margin-top: 60px; padding-bottom: 70px;}
.Board .board-area .board-box {position: relative; width: 1000px; margin: 0 auto;}
.Board .board-area .area-1 {position: relative;}
.Board .board-area .tb-list {position: relative; width: 100%; font-size: 18px;}
.Board .board-area .tb-list col.nth-1 {width: 10%;}
.Board .board-area .tb-list col.nth-2 {width: 57%;}
.Board .board-area .tb-list col.nth-3 {width: 11%;}
.Board .board-area .tb-list col.nth-4 {width: 10%;}
.Board .board-area .tb-list col.nth-5 {width: 7%;}
.Board .board-area .tb-list th, .Board .board-area .tb-list td {padding: 15px 0px; text-align: center;}
.Board .board-area .tb-list td:nth-child(2) {text-align: left;}
.Board .board-area .tb-list thead tr {background: #f2f2f2; border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-list tbody tr {border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-list tbody tr a {display: block;}
.Board .board-area .tb-list tr.reply td a {text-indent: 15px;}
.Board .board-area .tb-list tr.reply td a .re {position: relative; top: -1px; display: inline-block; font-size: 15px; text-indent: 0; background: #898989; color: #fff; padding: 0 5px;}
.Board .board-area .tb-list tr.post td {text-align: left; padding: 40px 60px 50px; font-size: 16px; line-height: 1.8;}
.Board .board-area .tb-list tr.post td img.exImg {display: block; margin: 0 auto;}
.Board .board-area .pagenation {text-align: center; font-size: 0; margin-top: 50px;}
.Board .board-area .pagenation a {display: inline-block; font-size: 13px; width: 32px; height: 32px; vertical-align: middle; line-height: 2.3em; border: 1px solid #d9d9d9; border-left: 0; color: #d2d2d2; font-family: "Nanum Gothic"; font-weight: 600; }
.Board .board-area .pagenation a:nth-child(2) {border-left: 1px solid #d9d9d9;}
.Board .board-area .pagenation a[class*="prev"], .Board .board-area .pagenation a[class*="next"] {font-size: 12px; line-height: 2.5em; letter-spacing: -2px;}
.Board .board-area .pagenation a:hover, .Board .board-area .pagenation a.on {background: #d2d2d2; color: #fff;}
.Board .board-area .pagenation a.prev, .Board .board-area .pagenation a.next {background: #d2d2d2; color: #595959;}
.Board .board-area .pagenation a.prev {text-indent: -4px; margin-right: 5px;}
.Board .board-area .pagenation a.next {text-indent: 1px; margin-left: 5px;}
.ie8 .Board .board-area .tb-list td:first-child + td {text-align: left;}

/* 게시판 read */
.Board .board-area .tb-read {font-size: 18px; width: 100%;}
.Board .board-area .tb-read th {padding: 15px 10px 15px 25px; font-size: 20px;}
.Board .board-area .tb-read td {padding: 40px; line-height: 1.8;}
.Board .board-area .tb-read thead tr {background: #f2f2f2; border-top: 1px solid #3c3b3b; border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-read tbody tr {border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-read thead tr th .flt-r {float: right;}
.Board .board-area .row-btn {margin-top: 30px; text-align: center;}
.Board .board-area  .pagenation + .row-btn {margin-top: 0;}
.Board .board-area .row-btn .btn-list {display: inline-block; font-size: 20px; border: 1px solid #b7b7b7; border-radius: 25px; padding: 8px 62px;}
.Board .board-area .row-btn .left {float: left;}
.Board .board-area .row-btn .right {float: right;}
.Board .board-area .row-btn [class*=btn-] {background: #fff; border: 1px solid #b0b0b0; line-height: 1; padding: 11px 35px; border-radius: 2px; font-size: 20px; color: #676767; letter-spacing: -1px; min-width: 124px;}
.Board .board-area .row-btn [class*=btn-]:first-child + button {margin-left: 10px;}
.Board .board-area .pagenation + .row-btn .btn-write {position: absolute; right: 0; bottom: 0;}
.Board .board-area .row-search {text-align: center;}
.Board .board-area .row-search {margin-top: 20px;}
.Board .board-area .row-search > * {position: relative; display: inline-block; height: 37px; border: 1px solid #c8c8c8; background: #fff; box-sizing: border-box; vertical-align: middle; padding: 0 5px; font-size: 16px; line-height: 1; font-family: "Nanum Square", sans-serif; vertical-align: top; border-radius: 2px;}
.Board .board-area .row-search .sltDiv {padding: 0; width: 120px; overflow: hidden;}
.Board .board-area .row-search .sltDiv:after {content: "▼"; position: absolute; right: 10px; top: 9px; color: #acacac; pointer-events: none;}
.Board .board-area .row-search .sltDiv .sltArr {}
.Board .board-area .row-search .category {position: absolute; left: 0; top: 0; padding-left: 10px; width: 100%; border: 0; font-size: 16px; height: 100%; width: 150px;}
.Board .board-area .row-search .category:focus {width: 100%;}
.Board .board-area .row-search .category::-ms-expand{display:none;}
.Board .board-area .row-search .keword {text-align: left; margin: 0 8px; padding-left: 10px; width: 200px;}
.Board .board-area .row-search .btn-search {padding: 0 30px; border-radius: 2px; background: #efefef;}
.ie8 .Board .board-area .row-search .category,
.ie9 .Board .board-area .row-search .category {width: 100%;}
.ie8 .Board .board-area .row-search .sltDiv:after,
.ie9 .Board .board-area .row-search .sltDiv:after {display: none;}

/* 게시판 write */
.Board .board-area .tb-write {width: 100%; border-top: 1px solid #3d3d3d; margin-top: 18px;}
.Board .board-area .tb-write col.nth-1 {width: 12%;}
.Board .board-area .tb-write col.nth-2 {width: 88%;}
.Board .board-area .tb-write tbody tr th,
.Board .board-area .tb-write tbody tr td {vertical-align: middle; border-bottom: 1px solid #d9d9d9;}
.Board .board-area .tb-write tbody tr th {font-size: 18px; background: #F2F2F2; text-align: center;}
.Board .board-area .tb-write tbody tr td {font-size: 16px; padding: 10px 12px;}
.Board .board-area .tb-write .appe-reset,
.Board .board-area .tb-write input[class*=w-] {box-sizing: border-box; border: 1px solid #c9c9c9; height: 37px; padding-left: 15px;}
.Board .board-area .tb-write .w-1 {width: 200px;}
.Board .board-area .tb-write .w-2 {width: 280px;}
.Board .board-area .tb-write .w-full {width: 100%;}
.Board .board-area .tb-write tbody tr td textarea {width: 100%; height: 380px; padding: 25px; font-size: 16px; font-family: "NanumSquare", sans-serif; line-height: 1.5; resize: none; color: #383838; box-sizing: border-box; border-color: #c9c9c9;}
.Board .board-area .tb-write tbody .tr-file td .row + .row {margin-top: 10px;}
.Board .board-area .tb-write .inp-reset {background: #efefef; border-radius: 5px; vertical-align: top; height: 37px; width: 84px; font-size: 16px; color: #383838; margin-left: 2px; cursor: pointer; display: none;}
.Board .board-area .tb-write .tr-secure .w-1 {margin: 0 10px;}
.Board .board-area .row-cause {text-align: center; margin-top: 25px;}

/*수정 시 팝업*/
.popWrapper#pwdWrapper {display: none;}
.popWrapper,
.drop-bg {position: fixed; left: 0; top: 0; width: 100%; height: 100%;}
.drop-bg {background: rgba(0,0,0, 0.58);}
.popWrapper .pop-password {position: absolute; background: #fff; width: 308px; height: 180px; left: 50%; margin-left: -154px; top: 50%; margin-top: -90px; font-size: 16px; box-sizing: border-box; border: 1px solid #111;}
.popWrapper .pop-password .pop-header {}
.popWrapper .pop-password .pop-header h2 {background: #c9c9c9; font-size: 20px; text-align: center; padding: 10px 0;}
.popWrapper .pop-password .pop-header .btn-x {position: absolute; right: 0; top: 2px;display: inline-block; width: 42px; height: 42px;}
.popWrapper .pop-password .pop-body {padding: 28px 20px; text-align: center;}
.popWrapper .pop-password .pop-body .p-1 {text-align: center; letter-spacing: -0.7px;}
.popWrapper .pop-password .pop-body .row-inp {margin-top: 12px;}
.popWrapper .pop-password .pop-body .row-inp > * {height: 37px; display: inline-block; box-sizing: border-box; vertical-align: top; border: 1px solid #c9c9c9; font-size: 16px; color: #383838;}
.popWrapper .pop-password .pop-body .row-inp .pwd {padding: 0 5px; width: 160px;}
.popWrapper .pop-password .pop-body .row-inp .btn-ok {border-radius: 5px; padding: 0 25px; background: #efefef; min-width: 84px;}

/*파일박스 커스터마이징*/
.filebox {position: relative; display: inline-block;}
.filebox input[type="file"] {
  position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;
}
.filebox label, .filebox .upload-name {display: inline-block; box-sizing: border-box; font-size: 16px; height: 37px;}
.filebox label {
  width: 84px; text-align: center; line-height: 2.2em; margin-left: 2px; border-radius: 2px;
  background-color: #efefef; cursor: pointer; border: 1px solid #c9c9c9;
}
/* named upload */
.filebox .upload-name {
  position: relative; padding-left: 10px;
  color: #999;
  text-align: left;
  line-height: 2.7em; vertical-align: top; background-color: #fff; border: 1px solid #c9c9c9;
  text-overflow: ellipsis;
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none; appearance: none;
}

