@charset "utf-8";

.tour {}
.tour .con-sec {padding-bottom:35px;}
.tour .con-sec .con-area {}
.tour .con-area .tit {margin-left:3px;}

/* tab */
.tab-box {position:relative;}
.tab-list {border:1px solid #cacaca; border-top:0; border-left:0}
.tab-list li {position:relative; float:left; box-sizing:border-box; width:50%; text-align:center; border:1px solid #cacaca; border-bottom:0; border-right:0}
.tab-list li a {display:block; padding:5.5% 0 6%; font-size:12px; line-height:14px; color:#676767; background:#fff}
.tab-list li a.active {background:#e5e5e5}

/* list */
.tour-area {position:relative; margin:0 auto; margin-top:19px;}
.tour-box {position:relative; box-sizing:border-box; overflow:hidden; width:100%; height:100%; margin:0 auto;}
.tour-area .tour-list {position:relative; box-sizing:border-box; width:600%; max-width:800%;}
.tour-area .tour-list > li {position:relative; box-sizing:border-box; float:left; width:12.5%; padding:0 3px;}
.tour-area .tour-con-list {position:relative; box-sizing:border-box; width:100%;}
.tour-area .tour-con-list li {position:relative; box-sizing:border-box; float:left; width:48%; margin-bottom:4%;}
/*.tour-area .tour-con-list .li-1, .tour-area .tour-con-list .li-3 {padding-left:0; padding-right:2%}*/
.tour-area .tour-con-list li:nth-child(2n) {float:right}
.tour-area .tour-con-list li a {display:block; width:100%; border:1px solid #e9e9e9;}
.tour-area .tour-con-list li .no-link {cursor:auto}
.tour-area .tour-con-list li a .img-box {position:relative; width:100%; /*height:50%;*/}
.tour-area .tour-con-list li a .img-box img {position:relative; width:100%;}
.tour-area .tour-con-list li a .txt-box {position:relative; box-sizing:border-box; min-height:100px; padding:10px 8px 12px; color:#535353}
.tour-area .tour-con-list li a .txt-box p {word-break:keep-all}
.tour-area .tour-con-list li a .txt-box .tit {margin-bottom:0; font-size:14px; font-weight:500; line-height:18px;}
.tour-area .tour-con-list li a .txt-box .adr {margin-left:3px; padding:5px 0 6px; font-size:12px; line-height:16px; color:#808080}
.tour-area .tour-con-list li a .txt-box .txt {margin-left:3px; font-size:12px; line-height:16px;}

.bx-wrapper {box-shadow:none; margin:0; padding:0; margin-bottom:0; border:0}












