<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>아들바위공원</title>

    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/about/init.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">

    <!-- 해당 전용 css-->
    <!-- <link rel="stylesheet" href="http://static.jumunjinport.co.kr/css/common.css"> -->
    <!-- <link rel="stylesheet" href="http://static.jumunjinport.co.kr/css/init.css"> -->

    <!-- <link rel="stylesheet" href="../static/css/common.css"> -->
    <!-- <link rel="stylesheet" href="../../static/css/init.css"> -->


    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>
    <!--<script src="../static/js/common.js"></script>-->

    <!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="./index.html"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sodolpark.co.kr/common/logo.png" alt="아들바위공원 로고"> <span class="skip">아들바위공원</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">아들바위공원 소개</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">동해가 품은 아름다운 바다공원 !</p>
                    <h2><span class="f-bd">아들바위공원</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr">SODOL</SPAN> PARK</p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">동해가 품은 아름다운 바다공원 ! <span class="sampo"><span class="f-bd">SODOL</SPAN> PARK</span></span>
                            <span class="row-2"><span class="f-bd">아들바위공원</span>으로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sodolpark.co.kr/about/beach_big.jpg" alt="아들바위공원"></figure>
                        <p class="showing">
                            강릉시 북쪽의 해안도로를 따라 올라가다 언덕 끝자락의 주문진의 하얀 등대 너머 위치한 소돌아들바위공원에서는 바람과 파도에 깎인 절묘하고 기괴한 모습의 기암괴석들을 볼 수 있습니다. 도로 쪽에서 보면 거무튀튀하고 날카롭게 각진 바위가 마치 힘센 수소를 연상케 하며, 코끼리 바위 등 자연 형성된 신기하고 기괴한 바위들로 가득합니다.
                        </p>

                        <p class="showing">
                            소돌아들바위는 일억 오천만년 쥐라기시대에 바닷속에 있다가 지각변동으로 인하여 지상에 솟은 바위로 먼 옛날 노부부가 백일기도 후 아들은 얻은 후로 자식이 없는 부부들이 기도하면 소원을 성취한다는 전설이 있어 신혼부부들이 즐겨 찾는 곳으로 유명합니다.
                        </p>


                        <figure class="half">
                            <img src="http://design.ebiznetworks.co.kr/joon/beach/img/sodolpark.co.kr/about/beach_small_1.jpg" alt="아들바위공원"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sodolpark.co.kr/about/beach_small_2.jpg" alt="아들바위공원">
                        </figure>
                    </div>
                </div>
            </section>

        </div>

        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sodolpark.co.kr/common/logo.png" alt="아들바위공원로고"></figure>
                <address>
                    본 사이트는 아들바위공원을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길: 강원도 강릉시 주문진읍 주문리<br>
                    이메일 : help@ sodolpark.co.kr<br>
                    copyright @ sodolpark.co.kr All right reserved<br>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">아들바위공원 소개</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>