<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>천진해수욕장</title>
	
    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.ayajinbeach.co.kr/css/about/init.css">
	
	<!--천진해수욕장 전용 css-->
	<link rel="stylesheet" href="http://static.cheonjin.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/about/init.css">
<!--
	<link rel="stylesheet" href="../../static/css/common.css">
	<link rel="stylesheet" href="../../static/css/about/init.css">
-->
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.ayajinbeach.co.kr/js/common.js"></script>
	<!--<script src="../../static/js/common.js"></script>-->
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

    <div class="wrapper">

        <!-- header -->
        <header id="header" class="header">
            <div class="wrap clr">
                <div class="logo-box">
                   <a href="index.html" class="logo">
                       <h1 class="logo-tit c-blue">cheonjin</h1>
                       <span class="logo-txt">맑은바다, 깨끗한 백사장</span>
                       <p class="logo-sub-tit"><span class="c-blue">천진</span>해수욕장</p>
                       <p class="logo-adr"><span class="c-blue">cheonjin</span> .co.kr</p>
                   </a>
                </div>
                
				<nav class="gnb">
                    <ul class="menu">
                        <li class="nth-1 on"><a href="../about/index.html">천진해변 소개</a></li>
						<li class="nth-2"><a href="../event/index.html">축제 이벤트</a></li>
                        <li class="nth-2"><a href="../view/index.html">고성 8경</a></li>
                        <li class="nth-3"><a href="../tourist/index.html">주변관광</a></li>
                        <li class="nth-4"><a href="../waycome/index.html">오시는 길</a></li>
                        <li class="nth-5"><a href="../board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
                
            <!-- 날씨 -->
            <div class="weather">
                <div class="area clr">
                    <div class="inner">
                        <span class="s-1">2018.07.02 (월)</span>
                        <span class="s-2">천진 날씨 : 비</span>
                        <span class="s-3"><span class="big">21</span><span class="c">℃</span></span>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- content -->
        <div class="con-bg"></div>
        <div class="contents about">
            <div class="wrap clr">
               <div class="con-area clr">
                   <!-- content tit -->
                   <section class="tit-box">
                       <h2 class="tit">천진 소개 <span class="ayajin"><span class="f-bd">cheonjin</span> beach</span></h2>
                       <p class="p-1">고성이 자랑하는 스페셜 관광지 고성 8경을 꼭 만나보세요.</p>
                   </section>
               
                   <!-- content main -->
                   <section class="about-box">
                        <h3 class="h3-tit">동해의 청정보고 <span>천진으로 오세요 !</span></h3>
                        <p class="p-0">
                            속초시에서 북으로 4km, 국도7번 옆에 위치해 있으며, 물이 맑고 청정할 뿐 아니라 백사장이 깨끗합니다.<br>
                            남으로 100m에는 작은 포구가 있어 여름에는 싱싱한 회를 맛볼 수 있으며, 주변에 청간정, 이야진해변이 접해 있습니다.
                        </p>
                        <figure class="full"><img src="http://img.cheonjin.co.kr/about/beach_big.jpg" alt="천진해변"></figure>
                        <p class="p-1">
                            토성면 천진시내와 인접한 곳에 위치한 지역으로 천진항과 연접하여 초생달 모양의 해안선을 따라 백사장이 펼쳐저 있는 곳으로 1972년 개장된 이래 매년 해변과 백사장이 사계절 운영되는 곳으로 민박예고제마을로 운영되는 곳입니다.
						</p>
				    	<p class="p-1">
							수심이 낮아 가족단위와 젊은이들의 피서지로 각광받는 곳으로 매년 오징어 잡기대회가 열리는 곳이며, 천진항포구에서 생산되는 싱싱한 활어회를 즐길수 있고, 방파제에서는 바다낚시를 즐길 수 있습니다.
                        </p>
                        <figure class="half clr">
                            <img src="http://img.cheonjin.co.kr/about/beach_sm_1.jpg" alt="천진해변">
                            <img src="http://img.cheonjin.co.kr/about/beach_sm_2.jpg" alt="천진해변">
                        </figure>
                        <p class="p-1">
                            전체 면적이 넓지 않고, 거센 파도가 없어서 그런지 젊은 사람보다는 어린애들이 있는 가족들이 많이 찾는 해수욕장이라 할 수 있으며 속초도심에서 자동차로 10여분 거리에서 있어서 접근성이 좋습니다.
                        </p>
                   </section>
               </div>
            </div>
        </div>
        
        <!-- footer -->
        <footer class="footer f-con">
			<div class="wrap clr">
			    <div class="f-area clr">
                    <div class="logo-box">
                       <p class="logo-tit">천진해수욕장</p>
                       <p class="logo-txt"><span>cheonjin</span> beach</p>
                    </div>

                    <p class="txt-box">
                    	속초에서 북쪽으로 4km, 국도 7번에서 바로 !<br>
						천진해변에 오시면 수려한 바다는 물론, 평화롭고 한적한 바로 그 느낌을 전해드립니다.<br>
						<span>※ 본 사이트는 천진해수욕장을 아끼는 지역자치회에서 자체 운영합니다.</span>
                    </p>

                    <address>
                        강원도 고성군 토성면 천진리 천진해수욕장
                        <span>help@choenjin.co.kr</span>
						<small>COPYRIGHT @ CHEONJIN.CO.KR ALL RIGHT RESERVED</small>
                    </address>
                </div>
			</div>
		</footer>
    </div>	
		
</body>
</html>