@charset "utf-8";

.goseong {}
.goseong .con-sec {}
.goseong .con-sec .con-area {}
.goseong .con-area .tit {}

.goseong .con-sec .gs-area {position:relative; margin:0 auto; margin-top:80px; padding-bottom:75px}
.goseong .con-sec .gs-area .gs-list {}
.goseong .con-sec .gs-area .gs-list li {position:relative; box-sizing:border-box; float:left; width:487px; margin-left:25px; margin-bottom:25px; border:1px solid #e4e4e4}
.goseong .con-sec .gs-area .gs-list .ml-0 {margin-left:0}
.goseong .con-sec .gs-area .gs-list .img-box {position:relative; overflow:hidden; width:100%; height:263px;}
.goseong .con-sec .gs-area .gs-list .img-box {position:relative; width:100%;}
.goseong .con-sec .gs-area .gs-list .txt-box {position:relative; box-sizing:border-box; height:258px; padding:38px 30px 37px; color:#535353}
.goseong .con-sec .gs-area .gs-list .txt-box p {word-break:keep-all}
.goseong .con-sec .gs-area .gs-list .txt-box .tit {font-size:30px; font-weight:500; line-height:34px;}
.goseong .con-sec .gs-area .gs-list .txt-box .adr {margin-left:4px; padding:19px 0 16px; font-size:20px; line-height:24px; color:#808080}
.goseong .con-sec .gs-area .gs-list .txt-box .txt {margin-left:4px; font-size:24px; line-height:30px;}





