@charset "utf-8";

.goseong {}
.goseong .con-sec {padding-bottom:45px;}
.goseong .con-sec .con-area {}
.goseong .con-area .tit {}

.goseong .con-sec .gs-area {position:relative; margin:0 auto;}
.goseong .con-sec .gs-area .gs-list {}
.goseong .con-sec .gs-area .gs-list li {position:relative; box-sizing:border-box; float:left; width:48.5%; margin-bottom:4%; border:1px solid #e4e4e4}
.goseong .con-sec .gs-area .gs-list li:nth-child(2n) {float:right}
.goseong .con-sec .gs-area .gs-list .img-box {position:relative; width:100%; /*height:50%;*/}
.goseong .con-sec .gs-area .gs-list .img-box img {position:relative; width:100%;}
.goseong .con-sec .gs-area .gs-list .txt-box {position:relative; box-sizing:border-box; min-height:100px; padding:10px 8px 12px; color:#535353}
.goseong .con-sec .gs-area .gs-list .txt-box p {word-break:keep-all}
.goseong .con-sec .gs-area .gs-list .txt-box .tit {margin-bottom:0; font-size:14px; font-weight:500; line-height:18px;}
.goseong .con-sec .gs-area .gs-list .txt-box .adr {margin-left:3px; padding:5px 0 6px; font-size:12px; line-height:16px; color:#808080}
.goseong .con-sec .gs-area .gs-list .txt-box .txt {margin-left:3px; font-size:12px; line-height:16px;}
/*.goseong .con-sec .gs-area .gs-list .ml-0 {margin-left:0}
.goseong .con-sec .gs-area .gs-list .img-box {position:relative; width:100%;}
.goseong .con-sec .gs-area .gs-list .txt-box {position:relative; box-sizing:border-box; height:258px; padding:38px 30px 37px; color:#535353}
.goseong .con-sec .gs-area .gs-list .txt-box p {word-break:keep-all}
.goseong .con-sec .gs-area .gs-list .txt-box .tit {font-size:30px; font-weight:500; line-height:34px;}
.goseong .con-sec .gs-area .gs-list .txt-box .adr {margin-left:4px; padding:19px 0 16px; font-size:20px; line-height:24px; color:#808080}
.goseong .con-sec .gs-area .gs-list .txt-box .txt {margin-left:4px; font-size:24px; line-height:30px;}*/