@charset "utf-8";

.event {}
.event .con-sec {}
.event .con-sec .con-area {padding-bottom:44px;}
.event .con-area .tit {margin-bottom:15px}

.evt-area {position:relative; width:100%; margin:0 auto; }
.evt-area .evt-box {position:relative; box-sizing:border-box; width:100%; margin:0 auto; margin-top:30px; border-bottom:1px solid #bebebe}
.evt-area:first-of-type .evt-box {margin-top:0;}
.evt-area .evt-box .evt-tit {font-size:14px; font-weight:500; line-height:18px; text-align:center; color:#343434}
.evt-area .evt-box .evt-img {position:relative; margin:9px auto 11px; }
.evt-area .evt-box .evt-img img {display:block; width:100%}
.evt-area .evt-box .txt-box {position:relative; }
.evt-area .evt-box .detail-box {position:relative; }
.evt-area .evt-box .detail-box dl {display:table; width:100%; font-size:12px; line-height:19px;}
.evt-area .evt-box .detail-box dt {display:table-cell; width:10%; font-weight:500; color:#12649f}
.evt-area .evt-box .detail-box dd {display:table-cell; color:#535353}
.evt-area .evt-box .evt-txt {margin:6px auto 14px; font-size:12px; line-height:19px; word-break:keep-all; color:#757575;}



/*margin-top:30px;

.evt-area.midnight .txt-box {float:left; width:48%}
.evt-area.midnight .evt-box .evt-txt {clear:none; float:left; width:48%}
*/