<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>사천해수욕장</title>

    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">

    <!--css-->
    <link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sokchobeach.co.kr/css/about/init.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
    <!--
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/init.css">
-->

    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sokchobeach.co.kr/js/init.js"></script>
    <!--	<script src="../static/js/init.js"></script>-->
    <!-- 190306 js 추가 -->
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>

    <!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->

</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="wrap">
                <div class="area container">
                    <h1 class="logo"><a href="index.html"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sacheonbeach.co.kr/common/logo_2.png" alt="사천해수욕장 로고"> <span class="skip">사천해수욕장 </span></a></h1>
                    <nav class="gnb">
                        <ul class="menu cf">
                            <li class="item-1"><a href="about/">사천해변 소개</a></li>
                            <li class="item-2"><a href="event/">축제 이벤트</a></li>
                            <li class="item-2"><a href="tourist/">관광정보</a></li>
                            <li class="item-3"><a href="view/">동해8경</a></li>
                            <li class="item-4"><a href="waycome/">오시는 길</a></li>
                            <li class="item-5"><a href="board/memory_list.html">추억게시판</a></li>
                            <li class="item-6"><a href="board/">공지사항</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>

        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">동해에서 만나는 다이나믹 비치</p>
                    <h2>내가 상상하던 바다, <span class="f-bd">사천해변</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr">SACHEON</span> BEACH</p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">동해가 품은 아름다운 해변 ! <span class="sokcho"><span class="f-bd">SACHEON</span> BEACH</span></span>
                            <span class="row-2"><span class="f-bd">사천해수욕장</span>으로 오시면 만사가 여유로워집니다.</span>
                        </h3>
                        <figure class="full"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sacheonbeach.co.kr/about/beach_big.jpg" alt="사천해변"></figure>
                        <p class="showing">
                            사천 해변은 경포대 해변과 연곡 해변 사이에 있는 길이 300m, 18,000㎡의 매우 조용하고 깨끗함을 자랑하는 해변이다. 1975년 7월 1일 개장되었으며, 경포도립공원과 인접해 있어 매년 많은 피서객이 찾고 있습니다.
                        </p>
                        <p class="showing">
                            해송숲이 넓게 우거져 있고 깨끗한 백사장과 얕은 수심으로 조용하게 피서를 즐기기 좋은 곳이다. 조용하고 소나무 숲에서 풍겨 나오는 향긋한 냄새와 시원한 그늘은 깊은 추억을 만들기에 더욱 좋습니다.
                        </p>

                        <p class="showing">
                            경포대해수욕장과 연곡해수욕장 사이에 위치한 사천해변은 모래가 곱고 경사가 완만하여 조개잡이를 즐길 수 있는 곳입니다. 강릉은 우리나라에서 가볼 만한 곳이 가장 많은 곳 중에 하나인데 그 중에서도 강릉에서 사천해변은 가볼만한 곳으로 최고로 꼽힙니다. 면적 8,000㎡의 야영장과 1만 7000㎡의 오토캠프장, 주차장, 탈의장, 샤워장, 방갈로, 상가 등 편의시설이 있어 기업체의 하계휴양지로 많이 이용됩니다.
                        </p>
                        <figure class="half">
                            <img src="http://design.ebiznetworks.co.kr/joon/beach/img/sacheonbeach.co.kr/about/beach_sm_1.jpg" alt="사천해변"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sacheonbeach.co.kr/about/beach_sm_2.jpg" alt="사천해변">
                        </figure>
                    </div>
                </div>
            </section>

        </div>

        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/sacheonbeach.co.kr/common/logo_2.png" alt="사천해수욕장로고"></figure>
                <address>
                    본 사이트는 사천해수욕장을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길: 강원도 강릉시 사천면 해안로877<br>
                    이메일 : help@ sacheonbeach.co.kr<br>
                    copyright @ sacheonbeach.co.kr All right reserved<br>
                </address>
            </div>
        </footer>

    </div>

</body>

</html>