<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>안목해수욕장</title>

    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/init.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">

    <!-- 해당 전용 css-->
    <!-- <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/init.css"> -->
    <!--
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/init.css">
-->

    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>
    <!--<script src="../static/js/common.js"></script>-->

    <!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="./index.html"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/anmokbeach.co.kr/common/logo.png" alt="안목해수욕장 로고"> <span class="skip">안목해수욕장 삼포비치</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">안목 해수욕장</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="contents">

            <section class="wrap main">
                <div class="slide-container">
                    <div class="slide slide-1">
                        <div class="mainTxt container">
                            <p class="p-1">동해가 품은 가장 아름다운 해변</p>
                            <h2><span class="f-bd">안목 해수욕장</span>으로 초대합니다 !</h2>
                            <p class="p-2"><span class="f-bdr">ANMOK</span> BEACH</p>
                            <p class="p-3">
                                동해안에서 만나는 최고의 풍경<br>
                                푸른바다의 다양하고 아름다운 모습에 감탄이 절로 나옵니다.
                            </p>
                        </div>
                    </div>
                    <div class="slide slide-2">
                        <div class="mainTxt container">
                            <p class="p-1">열려있는 은빛 백사장과 향긋한 바다향기</p>
                            <h2><span class="f-bd">안목 해변</span>의 푸름을 만나다 !</h2>
                            <p class="p-2"><span class="f-bdr">ANMOK</span> BEACH</p>
                            <p class="p-3">
                                푸르게 빛나는 동해 바다의 수평선<br>
                                사계절, 바다내음이 가득 물든 풍광들이 넘처납니다.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- 190125 -->
                <div class="weather">
                    <p class="area">
                        <span class="s-1">2018.07.02 (월)</span>
                        <span class="s-2">강릉날씨 : 비</span>
                        <span class="s-3"><span class="big">21</span><span class="c">℃</span></span>
                        <span class="s-4">
                            <img src="http://img.sampobeach.co.kr/weather/rain.png" alt="날씨">
                            <span class="txt-dust">미세먼지 - <span class="grade">약간나쁨</span></span>
                        </span>
                    </p>
                </div>
            </section>

            <section class="wrap cmStyle event">
                <div class="container">
                    <h2 class="tit">
                        <span class="sampo"><span class="f-bd">ANMOK</span> BEACH</span>
                        <span class="f-bd">안목해변 축제</span> / 이벤트
                        <a href="" class="plus"><span class="obj"></span></a>
                    </h2>
                    <div class="area cf">
                        <figure class="evt-img">
                            <img src="http://img.seabay.co.kr/svc/img/event/kpopworldfestival.jpg" alt="축제와 이벤트">
                        </figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">K-POP 월드 페스타</h3>
                            <div class="detail">
                                <dl>
                                    <dt>기간</dt>
                                    <dd>2019년 10월 05일(토)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>강원도와 문화체육관광부 공동 주최</dd>
                                </dl>
                                <dl>
                                    <dt>장소</dt>
                                    <dd>강릉종합경기장</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        <a href="http://www.kado.net/?mod=news&act=articleView&idxno=984813" target="_blank" title="새창 열림">▷K-POP 월드 페스타</a>
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        2019년 10월 3~6일까지 강릉 아레나에서 열리는 2019 커피축제 기간중,
                        강릉 종합경기장에서 10월 5일(토) K-POP 월드 페스타 공연이 개최됩니다.<br>
                        KBS 뮤직뱅크 특집 생방송으로 진행될 K-POP 월드 페스타 공연은
                        엑소 첸, 세븐틴, 트와이스, 백지영, 레드벨벳, NCT 등
                        국내 최정상급 가수들이 출연해 종합경기장을 뜨겁게 달굴 예정입니다.
                    </div>

                    <!-- 180803 연날리기 추가 -->
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.sampobeach.co.kr/event/ocKite.jpg" alt="안목해수욕장 연날리기축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2019 고성 오션투유 안목해수욕장 연날리기 축제</h3>
                            <div class="detail">
                                <dl>
                                    <dt>기간</dt>
                                    <dd>매주 일요일</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>오션투유리조트</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>12:00 ~ 16:00</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        연 세트 프론트에서 제공<br>
                                        소망연날리기체험장: 안목해수욕장
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        매주 일요일 강원도 고성, 아름다운 안목해수욕장의 맑고 청명한 하늘에 알록달록 연을 수놓는 장관이 펼쳐집니다.<br>
                        사랑하는 가족들과 함께 오션투유에서 소원과 희망을 담은 연을 하늘 높이 날리는 2019 가족여행과 함께하는 고성 오션투유 안목해수욕장 연날리기 축제를 함께 즐겨보세요.<br>
                        ※ 본 행사는 우천시 취소될 수도 있습니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle tourist">
                <div class="container">
                    <h2 class="tit">
                        <span class="sampo"><span class="f-bd">ANMOK</span> BEACH</span>
                        <span class="f-bd">주변관광지</span> 안내
                        <a href="" class="plus"><span class="obj"></span></a>
                    </h2>
                    <!-- 180802 주변관광지 변경 -->
                    <div class="area cf">
                        <h3 class="h3-tit"><span class="f-bd">주변맛집</span> 관광지 <span class="sampo"><span class="f-bd">ANMOK</span> BEACH</span></h3>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_01.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>강릉커피거리</h4>
                                        강원 강릉시 창해로14번길 20-1
                                    </dt>
                                    <dd>
                                        강릉커피거리는 커피자판기로 유명한 거리였다가 2000년 이후 바리스타들이 정착하면서 강릉 커피의 메카로 자리잡았습니다.
                                        대부분 카페가 통유리로 되어있어 안목항을 바라보며 커피를 즐길 수 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_02.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>주문진 해물마을</h4>
                                        &nbsp;
                                    </dt>
                                    <dd>
                                        영진항과 주문진항을 잇는 해안도로를 따라, 동해바다의 싱싱한 생명력이 살아있는 건강한 해산물을 만날 수 있는 주문진 해물마을은 신선한 바닷내음으로 가득한 박람회장입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_03.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>사천 물회마을</h4>
                                        &nbsp;
                                    </dt>
                                    <dd>
                                        동해바다의 짭쪼름한 향기를 양념삼아, 바닷가 사람들의 삶의 지혜를 한그릇에 소박하게 담은 음식, 물회.
                                        동해바다의 신선함을 오감으로 느껴보세요.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_04.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>초당 두부마을</h4>
                                        &nbsp;
                                    </dt>
                                    <dd>
                                        비옥한 땅에서 땀으로 수확한 우리 콩에 대를 이어가는 손맛으로 만들어가는 강릉의 음식.
                                        초당두부 역사와 문화의 고장, 강릉 사람들의 삶과 문화가 담긴 음식인 초당마을의 두부를 만나보세요.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_05.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>병산 옹심이 마을</h4>
                                        &nbsp;
                                    </dt>
                                    <dd>
                                        강릉 사람들의 성정을 닮은 소박하면서도 담백하고 구수한 맛의 병산 옹심이는 감자를 갈아 동그랗게 빚어 육수에 끓여내어 쫄깃하면서도 구수한 맛이 일품입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li class="link-tour" onclick="window.open('about:blank').location.href='http://www.seabay.co.kr/restaurant/?r=valueplate';" title="페이지 이동">
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_06.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>밸류플레이트_VALUE PLATE</h4>
                                        강원도 강릉시 주문진읍 주문로 59
                                    </dt>
                                    <dd>
                                        셰프가 매일 직접 엄선한 신선한 재료들을 사용하여 열정이 살아 숨쉬는 맛있는 뷔페를 제공합니다.
                                    </dd>
                                </dl>
                            </li>
                            <li class="link-tour" onclick="window.open('about:blank').location.href='http://www.seabay.co.kr/restaurant/?r=lobbybar';" title="페이지 이동">
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_07.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>BAR 59</h4>
                                        강원도 강릉시 주문진읍 주문로 59
                                    </dt>
                                    <dd>
                                        복층구조의 세련되고 스타일리쉬한 인테리어가 돋보이는 로비바에서 커피, 건강차, 칵테일 등 다양한 음료를 즐겨보세요.
                                    </dd>
                                </dl>
                            </li>
                            <li class="link-tour" onclick="window.open('about:blank').location.href='http://www.seabay.co.kr/restaurant/?r=swimmingbar';" title="페이지 이동">
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/food_08.png" alt="주변맛집 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>스위밍 바_SWIMMING BAR</h4>
                                        강원도 강릉시 주문진읍 주문로 59
                                    </dt>
                                    <dd>
                                        하늘과 맞닿은 것과 같은 인피니트 수영장에서 트렌디한 바텐더가 손수 조주하는 환상의 칵테일, 와인, 샴페인을 사이드 메뉴와 함께 즐겨보세요.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>

                    <div class="area cf area-2">
                        <h3 class="h3-tit"><span class="f-bd">액티비티</span> 관광지 <span class="sampo"><span class="f-bd">ANMOK</span> BEACH</span></h3>
                        <ol class="list cf">
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_01.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>아라나비 집라인</h4>
                                        강원 강릉시 공항길127번길 35-7
                                    </dt>
                                    <dd>
                                        강릉 안목커피거리(남항진 솔바람다리)에 위치하고 있는 아라나비 체험장입니다.
                                        집라인타고 탁트인 아름다운 바다 풍경을 만끽하세요!
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_02.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>경포아쿠아리움</h4>
                                        강원 강릉시 난설헌로 131
                                    </dt>
                                    <dd>
                                        아이부터 어른까지 온 가족이 공감할 수있는 테마파크!
                                        다양한 이벤트가 가득한 경포 아쿠아리움에서 신비한 바닷속 세계를 경험해보세요!
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_03.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>사천 어촌 체험마을</h4>
                                        강원 강릉시 사천면 진리항구길 47
                                    </dt>
                                    <dd>
                                        강릉 사천진리 어촌체험마을에서는 선상낚시, 어촌체험(그물양망작업), 요트, 서핑, 젯트스키, 스킨스쿠버, 수상레져 등 다양한 체험을 하실 수 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_04.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>정동진레일바이크</h4>
                                        강원 강릉시 강동면 정동역길 17
                                    </dt>
                                    <dd>
                                        연인, 친구, 가족과 함께 전동바이크를 타고 떠나는 피톤치드 가득한 드라이브!
                                        해안선을 따라 달리는 바다 풍경을 감상할 수 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_05.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>강릉승마장</h4>
                                        강원 강릉시 강동면 임곡로 1-17
                                    </dt>
                                    <dd>
                                        날씨에 상관없이 승마를 즐길 수 있는 강릉승마장은 국내 최고의 실내 승마장으로 ‘안인진’의 청정 바다를 바라보며 승마를 즐길 수 있습니다.
                                        아이들을 위한 조랑말도 있으니, 아이들을 동반한 가족관광객에게도 추천하는 승마장입니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_06.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>소금강양떼목장</h4>
                                        강원 강릉시 진고개로 1322
                                    </dt>
                                    <dd>
                                        양과 친구하기, 양 먹이주기체험, 양떼를 몰아보고 양떼와 어울려 기념사진촬영하기 등 가축과의 교감을 나누며 동물을 사랑하는 마음을 키워갈 수 있는 어린이 자연학습 장소로 사계절 다양한 체험프로그램을 제공합니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_07.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>자연아놀자 체험학습박물관</h4>
                                        강원 강릉시 난설헌로 105
                                    </dt>
                                    <dd>
                                        100여종의 곤충, 어류, 조류, 파충류, 포유류를 보고, 듣고, 느끼며 생태 체험을 할 수 있어 아이들에게 특별한 추억을 만들어 줄 수 있는 박물관입니다.
                                        다양한 생물들의 전시프로그램과 ‘곤충’, ‘파충류’, ‘포유류’, ‘갑각류’ 등의 체험학습을 할 수 있습니다.
                                    </dd>
                                </dl>
                            </li>
                            <li>
                                <figure class="tour-img"><img src="http://img.anmokbeach.co.kr/tourist/play_08.png" alt="액티비티 관광지"></figure>
                                <dl>
                                    <dt>
                                        <h4>바다열차</h4>
                                        강원 강릉시 용지로176 강릉역
                                    </dt>
                                    <dd>
                                        강릉-동해-삼척해변을 잇는 53km의 아름다운 동해안 해안선을 달리는 바다열차는 전 좌석이 바다방향으로 배치되어 있고 통 큰 창으로 동해의 맑고 푸른 바다와, 모래로 반짝이는 백사장을 감상할 수 있는 관광특별열차입니다.
                                    </dd>
                                </dl>
                            </li>
                        </ol>
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle waycome">
                <div class="container">
                    <div class="area cf">
                        <div class="way-info">
                            <h2 class="tit">
                                <span class="sampo"><span class="f-bd">ANMOK</span> BEACH</span>
                                <span class="f-bd">안목 해변</span> 오시는 길
                            </h2>
                            <p class="p-1">자가 차량 이용시</p>
                            <dl>
                                <dt>- 네비게이션 주소 또는 안목 해변 입력</dt>
                                <dt>- 강릉시 창해로14번길 주소를 입력</dt>
                            </dl>
                            <p class="p-1">대중교통 이용시</p>
                            <dl>
                                <dt>- 강릉시외버스터미널 하차시</dt>
                                <dd>
                                    <p class="dot">강릉시외고속버스 정류장에서 302-1번 버스 승차<br> 안목커피거리정류장에서 하차, 300m 이동</p>
                                </dd>
                            </dl>
                            <dl>
                                <dt>- 강릉역 하차시</dt>
                                <dd>
                                    <p class="dot">강릉역 정류장에서 225-1번, 314-1번 버스 승차<br> 안목커피거리정류장에서 하차, 300m 이동</p>
                                </dd>
                            </dl>
                        </div>
                        <div class="way-map">
                            <div style="font:normal normal 400 12px/normal dotum, sans-serif; width:570px; height:393px; color:#333; position:relative">
                                <div style="height: 360px;"><a target="_blank" href="http://map.daum.net/?urlX=835408.0&amp;urlY=1339931.0&amp;name=%EA%B0%95%EC%9B%90%20%EA%B3%A0%EC%84%B1%EA%B5%B0%20%EC%A3%BD%EC%99%95%EB%A9%B4%20%EC%82%BC%ED%8F%AC%EB%A6%AC%201-1&amp;map_type=TYPE_MAP&amp;from=roughmap"><img class="map" src="//t1.daumcdn.net/roughmap/imgmap/e58691e1e6903d666b08695ea0218169256bd7f8fb457d167e7f45be2567af8e" width="568px" height="358px" style="border:1px solid #ccc;"></a></div>
                                <div><span style="border-left:1px solid #dbdbdb;border-right:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;box-sizing:border-box;box-sizing:border-box;background-color:#f9f9f9;position:absolute;left:0px;top:360px;width:570px;height:33px"></span><span style="position:absolute;left:12px;top:367px"><img src="//t1.daumcdn.net/localimg/localimages/07/2013/map/test/ico_street.gif"></span><a href="http://map.daum.net/?from=roughmap&amp;eName=%EA%B0%95%EC%9B%90%20%EA%B3%A0%EC%84%B1%EA%B5%B0%20%EC%A3%BD%EC%99%95%EB%A9%B4%20%EC%82%BC%ED%8F%AC%EB%A6%AC%201-1&amp;eX=835408.0&amp;eY=1339931.0" target="_blank" style="text-decoration: none;color: #333;font:normal normal 400 12px gulim, sans-serif;line-height:normal;position:absolute;left:28px;top:371px">길찾기</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://design.ebiznetworks.co.kr/joon/beach/img/anmokbeach.co.kr/common/logo.png" alt="안목해수욕장로고"></figure>
                <address>
                    본 사이트는 안목해수욕장을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길 : 강원도 강릉시 창해로14번길<br>
                    이메일 : help@anmokbeach.co.kr<br>
                    <small>copyright @ anmokbeach.co.kr All right reserved</small>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">안목해수욕장 소개</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>