<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->

<head>
    <meta charset="UTF-8">
    <title>경포호</title>

    <!--공통 폰트 및 css-->
    <link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/about/init.css">
    <link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">

    <!-- 해당 전용 css-->
    <!-- <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/common.css">
    <link rel="stylesheet" href="http://static.cheonjin.co.kr/css/init.css"> -->
    <!--
	<link rel="stylesheet" href="../static/css/common.css">
	<link rel="stylesheet" href="../static/css/init.css">
-->

    <!--js-->
    <script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <script src="http://static.sampobeach.co.kr/js/common.js"></script>
    <script src="http://static.sampobeach.co.kr/js/init.js"></script>
    <script src="http://static.sampobeach.co.kr/js/totalweb.js"></script>
    <!--<script src="../static/js/common.js"></script>-->

    <!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>

<body>

    <div class="wrapper">

        <header class="header">
            <div class="wrap container">
                <h1 class="logo"><a href="./index.html"><img src="http://img.gyeongpolake.co.kr/common/logo.png" alt="경포호 로고"> <span class="skip">경포호</span></a></h1>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">경포호 소개</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="contents">

            <section class="wrap subVisual">
                <div class="mainTxt container">
                    <p class="p-1">동해가 품은 아름다운 호수 !</p>
                    <h2><span class="f-bd">경포호</span> 소개</h2>
                    <p class="p-2"><span class="f-bdr">GYEONGPO</SPAN> LAKE</p>
                </div>
            </section>
            <section class="wrap cmStyle about">
                <div class="container">
                    <div class="area area-1">
                        <h3 class="h3-tit">
                            <span class="row-1">동해가 품은 아름다운 호수 ! <span class="sampo"><span class="f-bd">GYEONGPO</SPAN> LAKE</span></span>
                            <span class="row-2"><span class="f-bd">경포호</span>으로 초대합니다.</span>
                        </h3>
                        <figure class="full"><img src="http://img.gyeongpolake.co.kr/about/beach_big.jpg" alt="경포호"></figure>
                        <p class="showing">
                            경포호는 강릉지방 뿐 아니라 국민적 사랑과 동경을 받아온 명승지입니다.
                            주변의 아름다운 경치 뿐만 아니라, 선사시대 문화유적을 비롯해서 화랑의 설화가 전해지는 곳이고 역대 명사의 숨결과 발자취가 담겨져 있는 곳입니다. 게다가 경포대에서 바라보는 경포호에 비친 달은 빼어나게 아름답습니다.
                        </p>

                        <p class="showing">
                            경포호는 바다와 이어지는 넓이 1,256,204평방미터(38만 평)의 자연호수로, 바다와 맞닿은 도로가 있으며, 특히, 겨울 철새도래지 (청둥오리, 원앙 등)로도 유명해서 자연과 전통문화가 함께 있는 이상적인 휴양지입니다. 또한, 경포호는 붕어, 잉어, 숭어, 가물치, 뱀장어 등이 많이 서식하고 자연보호지구로, 낚시는 금지되어 있습니다.
                        </p>

                        <p class="showing">
                            온화한 경포호의 주변은 산책코스로 준비되어 현지인과 관광객들에게 큰 사랑을 받고 있습니다.
                        </p>
                        <figure class="half">
                            <img src="http://img.gyeongpolake.co.kr/about/beach_small_1.jpg" alt="경포호"><img src="http://img.gyeongpolake.co.kr/about/beach_small_2.jpg" alt="경포호">
                        </figure>
                    </div>
                </div>
            </section>

        </div>

        <footer class="footer">
            <div class="wrap container">
                <figure class="logo"><img src="http://img.gyeongpolake.co.kr/common/logo.png" alt="경포호로고"></figure>
                <address>
                    본 사이트는 경포호을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                    오시는 길: 강원도 강릉시 경포로 365<br>
                    이메일 : help@ gyeongpolake.co.kr<br>
                    copyright @ gyeongpolake.co.kr All right reserved<br>
                </address>
                <nav class="gnb">
                    <ul class="menu cf">
                        <li class="item-1"><a href="./about/">경포호 소개</a></li>
                        <li class="item-2"><a href="./event/">축제 이벤트</a></li>
                        <li class="item-2"><a href="./view/">동해8경</a></li>
                        <li class="item-3"><a href="./waycome/">오시는 길</a></li>
                        <li class="item-4"><a href="./tourist/">주변관광</a></li>
                        <li class="item-5"><a href="./board/memory_list.html">추억게시판</a></li>
                        <li class="item-5"><a href="./board/">공지사항</a></li>
                    </ul>
                </nav>
            </div>
        </footer>

    </div>

</body>

</html>