<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko">
<!--<![endif]-->
<head>
	<meta charset="UTF-8">
	<title>송지호해수욕장</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="https://nurifunding.co.kr/static/fonts/NanumBarunGothic/nanumbarungothic.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
    <!--<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/common.css">-->
	<link rel="stylesheet" href="../static/css/reset.css">
	<link rel="stylesheet" href="../static/css/common.css">
	
	<!--css-->
    <!--<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/init.css">-->
	<link rel="stylesheet" href="../static/css/init.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<!--<script src="http://static.songjihobeach.co.kr/js/common.js"></script>-->
	<script src="../static/js/common.js"></script>
	<script src="../static/js/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<![endif]-->
</head>
<body>

    <div class="wrapper">

        <!-- header -->
        <header id="header" class="header">
            <div class="header-area">
                <h1 class="logo"><a href="index.html"><img src="../img/common/logo.png" alt="송지호해수욕장"></a></h1>
                
				<nav class="gnb">
                    <ul class="menu">
                        <li class="nth-1"><a href="about/index.html">해수욕장 소개</a></li>
                        <li class="nth-2"><a href="tourist/index.html">주변관광지</a></li>
                        <li class="nth-3"><a href="goseong/index.html">고성8경</a></li>
                        <li class="nth-4"><a href="event/index.html">이벤트</a></li>
                        <li class="nth-5"><a href="waycome/index.html">오시는길</a></li>
                        <li class="nth-6"><a href="board/index.html">공지사항</a></li>
                        <li class="nth-7"><a href="board/memory_list.html">추억게시판</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        
        <!-- content -->
        <div class="contents main">
            <div class="wrap clr">
                <div class="txt-area">
                    <div class="txt-box">
                        <p class="sub-logo-txt"><span class="f-bd">SONGJIHO</span> BEACH</p>
                        <h2 class="tit"><em class="f-bd">송지호</em>해수욕장</h2>
                        <p class="txt">
                            고성군의 가장 유명한 해변<br>
                            다른곳에 비해 백사장이 길고 송림이 우거져<br>
                            남다른 경관을 자랑하는 해수욕장
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- footer -->
        <footer id="footer" class="footer clr">
            <div class="footer-area">
                <p class="f-logo"><img src="../img/common/logo_footer.png" alt="송지호해수욕장"></p>
                
                <div class="footer-box">
                    <nav class="fnb">
                        <ul class="menu clr">
                            <li class="nth-1"><a href="about/index.html">해수욕장 소개</a></li>
                            <li class="nth-2"><a href="tourist/index.html">주변관광지</a></li>
                            <li class="nth-3"><a href="goseong/index.html">고성8경</a></li>
                            <li class="nth-4"><a href="event/index.html">이벤트</a></li>
                            <li class="nth-5"><a href="waycome/index.html">오시는길</a></li>
                            <li class="nth-6"><a href="about/index.html">공지사항</a></li>
                            <li class="nth-7"><a href="board/memory_list.html">추억게시판</a></li>
                        </ul>
                    </nav>
                    
                    <address>
                        본 사이트는 송지호해변을 사랑하는 마을 주민회에서 운영하고 있습니다.<br>
                        오시는 길 : 강원도 고성군 죽왕면 오호리 송지호해변
                        <small>copyright @ songjiho.co.kr All right reserved</small>
                    </address>
                </div>
            </div>
        </footer>
        
    </div>	
		
</body>
</html>