<!DOCTYPE html>
<!--[if IE 8]><html lang="ko-KR" class="no-js ie8 lt-ie10"><![endif]-->
<!--[if IE 9]><html lang="ko-KR" class="no-js ie9 lt-ie10"><![endif]-->
<!--[if !IE]><!-->
<html lang="ko-KR">
<!--<![endif]-->

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta charset="UTF-8">
	<title>청초호</title>
	
	<!--공통 폰트 및 css-->
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanskr.css">
	<link rel="stylesheet" href="http://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/reset.css">

	<!-- css -->
	<link rel="stylesheet" href="http://static.songjihobeach.co.kr/css/init_v1.1.css">
	<!-- 청초호 css 추가 -->
	<link rel="stylesheet" href="../../static/css/init.css">
	
	<link rel="stylesheet" href="http://static.sampobeach.co.kr/css/totalweb.css">
	
	<!--js-->
	<script src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<script src="http://static.songjihobeach.co.kr/js/init_v1.1.js"></script>
	<!--<script src="../static/js/init_v1.1.js"></script>-->
	<!-- 청초호 js 추가 -->
	<script src="../../static/js/init.js"></script>
	
	<!--[if lt IE 9]>
		<script type="text/javascript" src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
	<![endif]-->
</head>

<!-- 청초호일 경우 lake 추가 -->
<body class="Event Lake">

	<h1 class="hidden">청초호</h1>
	
	<div class="wrapper">
	
		<!-- header -->
		<header class="header">
             <div class="header-area">
                 <div class="header-box clr">
                     <h1 class="logo"><a href="../index.html"><img src="../../img/logo.png" alt="청초호 로고"></a></h1>
                     <nav class="gnb">
                         <ul class="menu clr">
                             <li class="itme-1"><a href="../index.html">청초호 소개</a></li>
                             <li class="itme-2 on page-move"><a href="../event/index.html">축제 이벤트</a></li>
                             <li class="itme-3"><a href="../index.html">관광정보</a></li>
                             <li class="itme-4"><a href="../index.html">속초8경</a></li>
                             <li class="itme-5"><a href="../index.html">오시는 길</a></li>
                             <li class="itme-6 page-move"><a href="../board/index.html">추억게시판</a></li>
                         </ul>
                     </nav>
                 </div>
             </div>
		</header>
	
		<!-- contents -->
		<div class="contents">
           <!-- subVisual type-2 추가 -->
            <section class="subVisual type-2">
                <div class="mainTxt">
                    <p class="p-1">호수에서 즐기는 기분좋은 시간</p>
                    <h2><span class="f-bd">속초 청초호</span> 축제와 이벤트</h2>
                    <p class="p-2"><span class="f-bdr">SOKCHO</span> CHEONGCHOHO LAKE</p>
                </div>
            </section>
            
            <section class="wrap cmStyle event evt-1">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_sohwaghaeng.jpg" alt="오션투유 소확행 불꽃캠프파이어 축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018년 12월 31일<br>소확행 불꽃 캠프파이어 축제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018년 12월 31일(월)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>오션투유리조트</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>일몰 이후 캠프파이어<br>23:30 새해맞이 불꽃놀이 진행</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>강원도 고성 삼포해수욕장</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        2018년을 정리하는 소소하지만 확실한 행복<br>
                        2018년의 마지막날, 사랑하는 가족, 친구와 함께 아름다운 삼포해변의 밤하늘을 만나보세요.<br> 
                        별과 바람, 푸른바다를 배경으로 하는 삼포해변에서 불꽃축제와 캠프파이어! “고성 오션투유 삼포해수욕장 소/확/행 불꽃 캠프파이어 축제”로 초대합니다.<br>
                        ※ 본 행사는 우천 시 취소될 수 있습니다.
                    </div>
                </div>
            </section>

            <section class="wrap cmStyle event evt-2">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.sampobeach.co.kr/event/ocKite.jpg" alt="삼포해수욕장 연날리기축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2019 고성 오션투유 삼포해수욕장 연날리기 축제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>매주 일요일</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>오션투유리조트</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>12:00 ~ 16:00</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        연 세트 프론트에서 제공<br>
                                        소망연날리기체험장: 삼포해수욕장
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        매주 일요일 강원도 고성, 아름다운 삼포해수욕장의 맑고 청명한 하늘에 알록달록 연을 수놓는 장관이 펼쳐집니다.<br>
                        사랑하는 가족들과 함께 오션투유에서 소원과 희망을 담은 연을 하늘 높이 날리는 2019 가족여행과 함께하는 고성 오션투유 삼포해수욕장 연날리기 축제를 함께 즐겨보세요.<br>
                        ※ 본 행사는 우천시 취소될 수도 있습니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-3">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img">
                            <img src="http://img.sampobeach.co.kr/event/midnight.jpg" alt="미드나잇피크닉">
                            <iframe src="https://www.youtube.com/embed/n0foR1sU99Y?autoplay=1" frameborder="0" allowfullscreen=""></iframe>
                        </figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 미드나잇 피크닉 페스티벌</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018.07.13(금) ~ 15(일) 3일간</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>미드나잇 피크닉 페스티벌</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>유료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>00:00 ~ 24:00</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        삼포해변 비치클럽 (서핑 페스티벌)<br>
                                        삼포해변 비치콘서트 (음악 페스티벌)
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        삼포해변에서 펼쳐지는 국내 정상급 클럽 DJ들과 함께하는 색다르고 화끈한 비치클럽 미드나잇 피크닉 페스티벌로 초대합니다.<br>
                        요즘 여름은 서핑이 대세~  삼포해변에서 배우고 즐기는 서핑 페스티벌 !    한 여름밤, 화끈한 밤의 국내 최정상 뮤지션들의 화끈한 무대 !<br>
                        서핑과 음악, 비치라이프를 통한 한여름의 일상탈출 !  1년에 한번 오는 절호의 찬스를 절대 놓치지 마세요 !
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-4">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.sampobeach.co.kr/event/lavender.jpg" alt="고성라벤더축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 고성 라벤더 축제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018.06.01(금) ~ 2018.06.21(목)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>하늬라벤더팜, 꽃내마루 라벤더연구회</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>09:00 ~ 19:00</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        강원도 고성군 간성읍 꽃대마을길 175
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        매년 6월이면 고성의 마을과 농장을 보랏빛으로 물들이는 라벤더가 만개합니다.<br>
                        축제에서 라벤더체험, 어린이 그림그리기대회, 라벤더 수확체험, 향기 음악회, 관광객들이 농장이나 마을에서 촬영한 사진응모 콘테스트등 다양한 프로그램과 함께 즐겨보세요.<br>
                        ※ 본 행사는 우천시 취소될 수도 있습니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-5">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.sampobeach.co.kr/event/fireworks.jpg" alt="캠프파이어불꽃축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 삼포해수욕장 불꽃놀이 및 캠프파이어</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2017년 12월 31일 하루</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>오션투유리조트</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>일몰 이후 캠프파이어 / 23:30</dd>
                                </dl>
                                <dl>
                                    <dt>비고</dt>
                                    <dd>
                                        강원도 고성 삼포해수욕장
                                    </dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        12월 31일 강원도 고성 아름답고 탁트인 해안선, 반짝거리는 모래사장으로 유명한 삼포해변과 함께 2017년의 끝을기념하는 환상적인 불꽃축제가 개최됩니다.<br>
                        고성 주민들의 특별한 관심과 고성을 찾는 많은 관광객들이 어우러지는 큰 행사로 다양하고 풍성한 볼꺼리를 준비하고 있으니, 2017년 낭만적인 마지막 밤을 장식하세요.<br>
                        ※ 본 행사는 우천시 취소될 수도 있습니다.
                    </div>
                </div>
            </section>

            <section class="wrap cmStyle event evt-6">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_fiying.jpg" alt="고성군 DMZ 전국 플라잉디스크 대회"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">제1회 고성군 DMZ 전국 플라잉디스크 대회</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-11-17 ~ 11-18 (2일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>고성공설운동장, 거진종합운동장</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>11월 18일 19시 </dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>청초호유원지</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        대한민국 플라잉디스크 연맹에서 주최하는 전국플라잉디스크 대회가 개최됩니다.<br>
                        고성공설운동장, 거진종합운동장, 고성군원반골프장에서 진행되는 이번 대회는 전국의 플라잉디스크인 (KFDF선수)을 위한 기대의 장이 될 것입니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-7">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_granfondo.jpg" alt="GBA 고성 DMZ 그란폰도"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 GBA 고성 DMZ 그란폰도</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-11-17 ~ 11-18 (2일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>고성공설운동장, 거진종합운동장</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>11월 18일 19시 </dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>청초호유원지</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        고성군 천혜의 자연환경인 산, 바다, 호수 그리고 DMZ를 달릴 수 있는 코스로 참가자들에게 보다 전문적인 특별한 경험을 선사하고 자신의 한계를 뛰어넘는 스포츠의 진정한 재미를 느낄 수 있습니다. 고성 그란폰도에서만 느낄 수 있는 온 가족이 함께 하는 특별한 이벤트도 즐겨보세요!
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-8">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_pollock.jpg" alt="통일 고성 명태축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 통일 고성 명태축제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-10-18 ~ 10-21 (4일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>고성명태축제위원회</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>10월 21일 18시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>강원 고성군 거진항 일원</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        설악 문화제는 설악산과 관련된 산촌 문화, 동해바다를 근원으로 하는 어촌문화 그리고 청호동 아바이 마을로 대표되는 실향민문화 등 속초의 사회,역사,문화적 유산을 형상화한 소중한 우리의 문화 축제에 여러분을 초대합니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-9">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_seolag.jpg" alt="설악문화제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 설악문화제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-10-12 ~ 10-14 (3일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>(사)속초축제위원회</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>10월 14일 19시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>속초시청 ~ 청학사거리</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        설악 문화제는 설악산과 관련된 산촌 문화, 동해바다를 근원으로 하는 어촌문화 그리고 청호동 아바이 마을로 대표되는 실향민문화 등 속초의 사회,역사,문화적 유산을 형상화한 소중한 우리의 문화 축제에 여러분을 초대합니다
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-10">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_sscLove.jpg" alt="바다별빛 대포야 사랑해"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 바다별빛 대포야 사랑해</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-10-20 ~ 10-20 (1일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>속초시</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>10월 20일 21시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>대포항 친수호안 특설무대</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        올해로 4년회재를 맞는 이번 행사에서는 7080 가요와 전통 국악 공연과 함께 가족과 연인이 즐길 수 있는 마술, 풍선아트 등 다채로운 체험 공연을 즐기실 수 있습니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-11">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_gughwa.jpg" alt="속초국화전"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 속초국화전</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-10-08 ~ 11-02 (26일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>속초시공원녹지과 </dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>11월 02일 24시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>청초호유원지</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        푸른 동해바다와 설악의 오색 단풍이 함께하는 속초 청포호유원지에 여러분을 초대합니다
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-12">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_seolagMaple.jpg" alt="설악동 단풍축제"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">설악동 단풍축제</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-10-19 ~ 10-21 (3일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>설악동축제위원회</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>10월 21일 14시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>청초호 호수공원</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        설악산에 방문하는 관광객들과 지역주민들이 함께하는 노래자랑, 초청가수 공연을 비롯해 단풍잎 압화 및 페인팅과 같은 체험행사와 먹거리 장터, 핏골 걷기행사를 진행합니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-13">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_stamp.jpg" alt="스탬프투어, 오감만족 속초여행"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 스탬프투어, 오감만족 속초여행</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-07-01 ~ 11-30 (153일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>속초시청</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>무료</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>11월 30일 24시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>속초 전지역</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        오감만족 속초여행!<br>앱깔고, 스탬프 찍고, 여행후기 쓰고 경품 받자! 총 550만원의 경품이 있는 최고의 여행 이벤트가 될것입니다. 많은 참여 부탁드립니다.
                    </div>
                </div>
            </section>
            <section class="wrap cmStyle event evt-14">
                <div class="container">
                    <div class="area cf">
                        <figure class="evt-img"><img src="http://img.ocean2you.co.kr/renew/event/event_musicFire.jpg" alt="속초 음악불꽃크루즈"></figure>
                        <div class="evt-info">
                            <h3 class="h3-tit">2018 속초 음악불꽃크루즈</h3>
                            <div class="detail">
                                <dl> 
                                    <dt>기간</dt>
                                    <dd>2018-05-03 ~ 12-30 (242일간)</dd>
                                </dl>
                                <dl>
                                    <dt>주최</dt>
                                    <dd>크루즈 스토리</dd>
                                </dl>
                                <dl>
                                    <dt>요금</dt>
                                    <dd>별도요금</dd>
                                </dl>
                                <dl>
                                    <dt>시간</dt>
                                    <dd>12월 30일 19시</dd>
                                </dl>
                                <dl>
                                    <dt>위치</dt>
                                    <dd>하모니크루즈 선착장</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="showing">
                        별빛 속 바다를 달리는 낭만 속초여행!<br>푸르고 시원한 동해바다를 배경으로 낭만과 감동이 있는 음악 불꽃 쇼를 사랑하는 사람과 속초 밤바다에서 즐겨보세요
                    </div>
                </div>
            </section>
        </div>
        
		<!-- footer -->
		<footer class="footer">
			<div class="footer-area">
			    <p class="logo"><img src="../../img/logo.png" alt="청초호 로고"></p>
			    <div class="f-txt-box">
                    <p class="p-0">속초의 중심을 이루고 있는 청초호입니다.</p>
                    <address>
                        <p>대한민국 강원도 속초시 청호동</p>
                        <p>이메일 help@chungchoho.co.kr</p>
                        <small>COPYRIGHT @ CHUNGCHOHO.CO.KR ALL RIGHT RESERVED</small>
                    </address> 
			    </div>
			</div>
		</footer>
        
	</div>

</body>

</html>